<div class="reset-password">
    <h1 class="title">Blackpines.</h1>
    <div class="container">
        <p>Enter your new password below.</p>
        <input type="password" placeholder="New Password" (keyup)="updatePassword($event)" />
        <input type="password" placeholder="Confirm New Password" (keyup)="updateConfirmPassword($event)" />
        <button class="submit" (click)="submitPassword()">Change Password</button>
        <div *ngIf="loading" class="loading-container">
            <app-loading></app-loading>
        </div>
        <div *ngIf="message.show" class="message">
            <p>{{ message.text }}</p>
        </div>
    </div>
</div>
