<header>
    <div class="header-cover">
        <nav>
            <ul>
                <li class="nav-items">
                    <a *ngIf="feed; else elseFeed" href="my-feed" class="nav-links active">My Feed</a>
                    <ng-template #elseFeed><a href="my-feed" class="nav-links">My Feed</a></ng-template>
                </li>
                <li class="nav-items">
                    <a *ngIf="posts; else elsePosts" href="my-posts" class="nav-links active">My Posts</a>
                    <ng-template #elsePosts><a href="my-posts" class="nav-links">My Posts</a></ng-template>
                </li>
                <li class="nav-items">
                    <a *ngIf="new; else elseNew" href="new-post" class="nav-links active" >New Post</a>
                    <ng-template #elseNew><a href="new-post" class="nav-links">New Post</a></ng-template>
                </li>
                <li class="nav-items">
                    <a *ngIf="search; else elseSearch" href="search" class="nav-links active" >Search Twitter</a>
                    <ng-template #elseSearch><a href="search" class="nav-links">Search Twitter</a></ng-template>
                </li>
                <li class="nav-items">
                    <a *ngIf="account; else elseAccount" href="my-account" class="nav-links active" >My Account</a>
                    <ng-template #elseAccount><a href="my-account" class="nav-links">My Account</a></ng-template>
                </li>
            </ul>
        </nav>
    </div>
</header>