<app-header [new]="true"></app-header> <!-- header/nav -->
<div class="main-content">
    <!-- side navigation -->
    <nav class="side-nav">
        <ul>
            <!-- If platform is connected render the checkbox & checkbox cover -->
            <li *ngIf="twitter.connected; else elseTwitter" ><input type="checkbox" class="twitter-checkbox input-checkbox" name="twitter-checkbox" checked /><div class="checkbox twitter-label active-cb" id="twitter" (click)="togglePlatforms($event)" ></div> Twitter</li>
            <!-- If the platform isn't connected then render the checkbox & checkbox cover within the "checkbox-container" to prevent the user from selecting a platform they aren't connected to -->
            <ng-template #elseTwitter>
                <div class="checkbox-container">
                    <li><input type="checkbox" class="twitter-checkbox input-checkbox" name="twitter-checkbox" disabled /><div class="checkbox twitter-label" id="twitter"></div> Twitter</li>
                </div>
            </ng-template>
    
            <li *ngIf="linkedin.connected; else elseLinkedin"><input type="checkbox" class="linkedin-checkbox input-checkbox" name="linkedin-checkbox" checked /><div class="checkbox linkedin-label active-cb" id="linkedin" (click)="togglePlatforms($event)" ></div> Linkedin</li>
            <ng-template #elseLinkedin>
                <div class="checkbox-container">
                    <li><input type="checkbox" class="linkedin-checkbox input-checkbox" name="linkedin-checkbox" disabled /><div class="checkbox linkedin-label" id="linkedin"></div> Linkedin</li>
                </div>
            </ng-template>
    
            <li *ngIf="facebook.connected; else elseFacebook"><input type="checkbox" class="facebook-checkbox input-checkbox" name="facebook-checkbox" checked /><div class="checkbox facebook-label active-cb" id="facebook" (click)="togglePlatforms($event)" ></div> Facebook</li>
            <ng-template #elseFacebook>
                <div class="checkbox-container">
                    <li><input type="checkbox" class="facebook-checkbox input-checkbox" name="facebook-checkbox" disabled /><div class="checkbox facebook-label" id="facebook"></div> Facebook</li>
                </div>
            </ng-template>
        </ul>
    </nav>
    <main>
        <!-- main body/content -->
        <form method="POST" action="/new-post" (submit)="newPost($event)">
            <!-- input/post -->
            <textarea class="primary-input" [ngClass]="{'limit': percentage >= 100}" placeholder="Type your post here" name="primary-post" (keydown)="onPrimaryInput()" maxlength="280"></textarea>
            <section class="platform-container">
                <div class="platforms">
                    <app-platform-headers *ngIf="twitter.connected && twitter.feed" [platform]="'twitter'"></app-platform-headers>
                </div>
                <div class="platforms">
                    <app-platform-headers *ngIf="linkedin.connected && linkedin.feed" [platform]="'linkedin'"></app-platform-headers>
                </div>
                <div class="platforms">
                    <app-platform-headers *ngIf="facebook.connected && facebook.feed" [platform]="'facebook'"></app-platform-headers>
                </div>
                <div class="char-limit" [ngClass]="{'void': percentage >= 100}">
                    <p>Character Limit</p>
                    <div class="background"></div>
                </div>
            </section>
            <!-- buttons/menu -->
            <div class="menu">
                <div class="button-container">
                    <button class="submit" [disabled]="disabled">Post</button>
                    <button class="submit" [disabled]="disabled">Schedule</button>
                    <button class="clear" type="reset" [disabled]="disabled">Clear</button>
                </div>
            </div>
            <!-- errors show here if there are any -->

            <!-- add loading cicle for posting -->

            <p *ngIf="error" class="error"></p>
            <p *ngIf="success" class="success">Posted!</p>
            <a *ngIf="!twitter.connected && !linkedin.connected && !facebook.connected" href="my-account" >Please connect at least one platform in order to use the posting function</a>
        </form>
    </main>
</div>