.side-nav {
  background-color: #fff;
  min-width: 90px;
}

.side-nav ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 5px;
}

.side-nav ul li {
  margin-bottom: 5px;
}

input[type=checkbox] {
  background-color: #009a7f;
  display: none;
}

.checkbox {
  width: 11px;
  height: 11px;
  background-color: #fff;
  border: solid 1px grey;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.active-cb {
  background-color: #009a7f;
}

.checkbox-container li {
  color: lightgrey;
}

.checkbox-container .checkbox, .checkbox-container .active-cb {
  background-color: #fff !important;
  border-color: lightgrey;
  cursor: auto;
}

main {
  width: calc(100% - 40px);
  padding-bottom: 0px;
  background-color: #f0f0f0;
}

form {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: auto;
}

form .platform-container {
  width: 100%;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .platform-container div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-left: 10px;
}

form .platform-container div:first-of-type {
  margin-left: 0px;
}

form .platform-container .char-limit {
  position: relative;
  border: solid 2px #009a7f;
  border-radius: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

form .platform-container .char-limit p {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
  position: absolute;
  z-index: 1;
}

form .platform-container .char-limit .background {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: #009a7f;
  background-image: -webkit-gradient(linear, left top, right top, from(#009a7f), to(#4bbba6));
  background-image: linear-gradient(to right, #009a7f, #4bbba6);
}

form .platform-container .void {
  border-color: #d60000;
}

form .platform-container .void .background {
  background-color: #d60000;
  background-image: -webkit-gradient(linear, left top, right top, from(#d60000), to(#d63333));
  background-image: linear-gradient(to right, #d60000, #d63333);
}

form .menu {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

form .menu .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .menu .button-container button {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  margin-top: 10px;
}

form .loading {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

form .messages {
  margin-bottom: 5px;
}

form a, form a:visited {
  display: block;
  color: #232323;
  margin-top: 10px;
}

form a:hover {
  color: #007a63;
}

.platform-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-input {
  width: calc(100% - 22px);
  height: 50vh;
  max-height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-bottom: 5px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  display: inline-block;
  resize: none;
}

.limit, .limit:focus {
  border: solid 1px #d60000 !important;
}

.submit, .clear {
  display: inline-block;
  float: none;
  -webkit-box-shadow: #ccc 2px 2px 7px;
          box-shadow: #ccc 2px 2px 7px;
}

.submit {
  width: calc(23% - 18px);
  margin-right: 20px;
}

.clear {
  width: calc(27% - 19px);
}

.clear:nth-of-type(1) {
  margin-right: 0px !important;
}

.clear:disabled {
  cursor: auto !important;
}

@media (max-width: 700px) {
  .side-nav {
    display: block;
    width: calc(100% - 21px);
    height: auto;
    padding: 10px;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
  }
  ul li, ul div {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
    text-align: center;
    margin-bottom: 0px;
  }
  ul div li {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .platform-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .platform-container .platforms {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 30% !important;
            flex: 1 0 30% !important;
  }
  .platform-container .char-limit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
    height: 27px;
    margin-top: 10px;
    margin-left: 0px !important;
  }
}

@media (max-width: 400px) {
  button {
    font-size: 3.5vw;
    padding: 5vw;
  }
}

@media (max-width: 355px) {
  .side-nav {
    padding: 10px 5px;
    width: calc(100% - 11px);
    font-size: 12px;
  }
  .checkbox {
    width: 8px;
    height: 8px;
  }
}
/*# sourceMappingURL=new-post.component.css.map */