<app-header [new]="true"></app-header> <!-- header/nav -->
<div class="main-content">
    <!-- side navigation -->
    <nav class="side-nav">
        <ul>
            <li *ngFor="let account of connectedAccounts">
                <input type="checkbox" id="bp{{ account.screen_name }}" class="twitter-checkbox input-checkbox" name="twitter-checkbox" checked /> <!-- actual checkbox -->
                <div class="checkbox twitter-label cb{{ connectedAccounts.length }}" id="{{ account.id_str }}" (click)="toggleUser($event, account)" ></div> <!-- custom designed checkbox -->
                <p class="acc acc{{ connectedAccounts.length }}"> {{account.name}}</p> <!-- label/user's name -->
            </li>
        </ul>
    </nav>
    <main>
        <!-- main body/content -->
        <form method="POST" action="/new-post" (submit)="newPost($event)" (reset)="resetCharLimit()">
            <!-- input/post -->
            <textarea class="primary-input" [ngClass]="{'limit': percentage >= 100}" placeholder="Type your post here" name="primary-post" (keydown)="onPrimaryInput()" maxlength="280"></textarea>
            <section class="user-container">
                <div class="users usr{{ selectedAccounts.length }} bp{{ user.screen_name }} hide" *ngFor="let user of connectedAccounts" title="@{{ user.screen_name }}">
                    <img src="{{ user.profile_image_url }}" alt="{{ user.screen_name }}" />
                </div>
                <div class="char-limit" [ngClass]="{'void': percentage >= 100}">
                    <p>Character Limit</p>
                    <span class="background"></span>
                </div>
            </section>
            <!-- buttons/menu -->
            <div class="menu">
                <div class="button-container">
                    <button class="submit" [disabled]="disabled">Post</button>
                    <button class="clear" type="reset">Clear</button>
                </div>
            </div>            
            <!-- loading cicle for posting -->
            <div *ngIf="loading" class="loading">
                <app-loading></app-loading>
            </div>
            <!-- errors show here if there are any -->
            <div class="messages" *ngFor="let message of messages">
                <p *ngIf="!message.success; else successMessgaes" class="error">{{ message.text }}</p> <!-- [ngClass] could be used but success messages will be hidden so errors will need to be seperate elements -->
                <ng-template #successMessgaes>
                    <p *ngIf="success">{{ message.text }}</p> <!-- the success variable is set to false after 5 seconds to hide success messages - whereas errors will remain constant -->
                </ng-template>
            </div>
            <a *ngIf="connectedAccounts.length < 1" href="my-account" class="no-account" >Please connect at least one account in order to use the posting function</a>
        </form>
    </main>
</div>