@import "../../variables";

.side-nav {
    background-color: $primary;
}

input[type=checkbox] {
    background-color: $accent;
    display: none;
}

.checkbox {
    width: 11px;
    height: 11px;
    background-color: $primary;
    border: solid 1px grey;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.active-cb {
    background-color: $accent;
}

.checkbox-container {

    li {
        color: lightgrey;
    }

    .checkbox, .active-cb {
        background-color: $primary !important;
        border-color: lightgrey;
        cursor: auto;
    }
}

@media(max-width: 700px) {
    .side-nav {
        display: block;
        width: calc(100% - 21px);
        height: auto;
        padding: 10px;
    }

    ul {
        display: flex;
        margin: 0px;

        li, div, select {
            flex-basis: 25%;
            text-align: center;
            margin-bottom: 0px;
        }

        .checkbox {
            width: 8px;
            height: 8px;
        }

        div {
            li {
                width: 100%;
            }
        }
    }
}
@media(max-width: 575px) {
    ul {

        li, div, select {
            flex-basis: calc(100% / 3);
        }
    }
}

@media(max-width: 355px) {
    .side-nav {
        padding: 10px 5px;
        width: calc(100% - 11px);
        font-size: 12px;
    }
}

main {
    width: calc(100% - 40px);
    padding-bottom: 0px;
    background-color: $off-primary;
}

.primary-input-container, .platform-input-container {
    width: 100%;
    margin: auto;
}

.primary-input-container {
    height: auto;
    vertical-align: top;
    margin-bottom: 20px;

    .menu {
        width: 60%;
        display: inline-block;

        .button-container {
            width: 100%;
            display: flex;
    
            button, select {
                flex-basis: 24%;
                margin-top: 7px;
            }
    
            select {
                flex-basis: 28%;
            }
        }
    }

    .error {
        display: inline-block;
        margin-left: 30px;
    }
}

.platform-input-container {
    display: flex;
}

.primary-input {
    width: calc(100% - 22px);
    height: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 5px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    display: inline-block;
    resize: none;
}

.submit, .clear {
    display: inline-block;
    margin-right: 20px;
    float: none;
    box-shadow: #ccc 2px 2px 7px;
}

.submit {
    width: calc(23% - 18px);
}

.clear {
    width: calc(27% - 19px);
}

.clear:nth-of-type(1) {
    margin-right: 0px !important;
}

.character-limit-container {
    width: calc(100% - 15px);
    height: 18px;
    margin: 0px 20px 10px 0px;
    color: $secondary;
    padding: 3px;
    padding-left: 10px;
    border: solid 1px $secondary;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

    p {
        position: absolute;
        z-index: 1;
    }

    div {
        height: 100%;
        width: 0%;
        background-color: #ff6666;
        position: absolute;
        top: 0;
        left: 0;
    }
}

span:last-of-type {
    margin-right: 0px;
}

.platform-containers {
    flex-basis: 25%;
}

.input-containers {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.input-containers:nth-of-type(1) {
    margin-left: 0px !important;
}

.sub-inputs {
    width: calc(100% - 10px);
    height: auto;
    min-height: 120px;
    padding: 5px;
    border: solid 1px lightgrey !important;
    background-color: $primary;
    color: $secondary;
    vertical-align: top;
}

.inputs {
    width: calc(100% - 22px);
    height: auto;
    min-height: 20px !important;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: none;
    resize: none;
}

.platform-img {
    width: 49px;
    height: 49px;
    background-color: $primary;
    border: none;
    border-radius: 100%;
    display: inline-block;
}

.twitter {

    div {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 10px;

        .name {
            color: $secondary;
            font-weight: 600;
            font-size: 15px;
        }
    
        h5 {
            font-size: 15px;
            font-weight: 100;;
            color: grey;
        }
    }

    .time {
        color: grey;
        padding-left: 3px;
        font-weight: 100;
        font-size: 15px;
    }
}

.linkedin {

    div {
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        padding-left: 5px;

        h5 {
            color: #666;
            font-weight: 100;
            font-size: 12px;
        }

        h5:nth-of-type(1) {
            color: $secondary;
            font-weight: 600;
            font-size: 13px;
        }

        h5:nth-of-type(2) {
            padding: 2px 0px;
        }
    }

    p {
        padding-top: 6px;
        color: #666;
        font-weight: 100;
        font-size: 12px;
    }
}

.facebook {

    div {
        display: inline-block;
        vertical-align: top;

        h5:nth-of-type(1) {
            padding: 5px 0px;
        }

        h5:nth-of-type(2) {
            color: #666;
            font-size: 12px;
            font-weight: 100;
        }
    }
}

.invalid {
    border: solid 1px red;
}