@import "../../variables";

.side-nav {
    background-color: $primary;
    min-width: 90px;

    ul {
        list-style-type: none;
        padding: 0px;
        margin-top: 5px;

        li {
            margin-bottom: 5px;
        }
    }
}

input[type=checkbox] {
    background-color: $accent;
    display: none;
}

.checkbox {
    width: 11px;
    height: 11px;
    background-color: $primary;
    border: solid 1px grey;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.active-cb {
    background-color: $accent;
}

.checkbox-container {

    li {
        color: lightgrey;
    }

    .checkbox, .active-cb {
        background-color: $primary !important;
        border-color: lightgrey;
        cursor: auto;
    }
}

main {
    width: calc(100% - 40px);
    padding-bottom: 0px;
    background-color: $off-primary;
}

form {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: auto;

    .platform-container {
        width: 100%;
        min-height: 30px;
        display: flex;

        div {
            flex-basis: 100%;
            margin-left: 10px;
        }

        div:first-of-type {
            margin-left: 0px;
        }

        .char-limit {
            position: relative;
            border: solid 2px $accent;
            border-radius: 100px;
            display: grid;
            place-items: center;
            overflow: hidden;

            p {
                text-shadow: 1px 1px rgba($color: $primary, $alpha: 0.4);
                position: absolute;
                z-index: 1; // show the text above the background
            }

            .background {
                width: 0%; // the dynamic width is set in the onPrimaryInput() function
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                margin: 0px;
                background-color: $accent;
                background-image: linear-gradient(to right, $accent, $disabled);
            }
        }

        .void {
            border-color: $close;

            .background {
                background-color: $close;
                background-image: linear-gradient(to right, $close, $close-disabled);
            }
        }
    }

    .menu {
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;

        .button-container {
            width: 100%;
            display: flex;
    
            button {
                flex-basis: calc(100% / 3);
                margin-top: 10px;
            }
        }
    }

    .loading {
        width: 100%;
        height: 100px;
        display: grid;
        place-items: center;
    }

    .messages {
        margin-bottom: 5px; 
    }


    a {
        display: block;
        color: $secondary;
        margin-top: 10px;
    }
}

.platform-input-container {
    display: flex;
}

.primary-input {
    width: calc(100% - 22px);
    height: 50vh;
    max-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 5px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    display: inline-block;
    resize: none;
}

.limit, .limit:focus {
    border: solid 1px $close !important;
}

.submit, .clear {
    display: inline-block;
    float: none;
    box-shadow: #ccc 2px 2px 7px;
}

.submit {
    width: calc(23% - 18px);
    margin-right: 20px;
}

.clear {
    width: calc(27% - 19px);
}

.clear:nth-of-type(1) {
    margin-right: 0px !important;
}

.clear:disabled {
    cursor: auto !important;
}

@media(max-width: 700px) {
    .side-nav {
        display: block;
        width: calc(100% - 21px);
        height: auto;
        padding: 10px;
    }

    ul {
        display: flex;
        margin: 0px;

        li, div {
            flex-basis: calc(100% / 3);
            text-align: center;
            margin-bottom: 0px;
        }

        div {
            li {
                width: 100%;
            }
        }
    }
}

@media(max-width: 550px) {
    .platform-container {
        flex-wrap: wrap;

        .platforms {
            flex: 1 0 30% !important;
        }
    
        .char-limit {
            flex: 0 1 10%;
            height: 27px;
            margin-top: 10px;
            margin-left: 0px !important;
        }
    }
}

@media(max-width: 400px) {
    // post, schedule & clear
    button {
        font-size: 3.5vw;
        padding: 5vw;
    }
}

@media(max-width: 355px) {
    .side-nav {
        padding: 10px 5px;
        width: calc(100% - 11px);
        font-size: 12px;
    }

    .checkbox {
        width: 8px;
        height: 8px;
    }
}