@import "../../variables";

.side-nav {
    background-color: $primary;
    max-width: 150px;
}

select, option {
    display: inherit;
    width: 100%;
    border: none;
    background-color: $primary;
    color: $secondary;
    font-size: 16px;
    cursor: pointer;
}

select:hover {
    color: $accent;
}

.account {
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    
    img {
        border-radius: 100%;
        display: block;
        margin: auto;
        margin-bottom: 20px !important;
    }

    p {
        color: $secondary;
        font-size: 14px;
        text-align: center;
    }

    .name-container {
        display: block;

        .name {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }
    }
}

@media(max-width: 900px) {
    .side-nav {
        flex-basis: 3% !important;
    }
}

@media(max-width: 700px) {
    .side-nav {
        display: flex;
        position: relative;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        height: auto;
        padding: 10px;

        select {
            width: 100px !important;
            display: inline-block !important;
            margin: 0px;
            margin-right: 20px;
        }

        .account {
            flex: 0 1 100%;
            margin: 0px;
            display: grid;
            place-items: center;
    
            img {
                height: auto;
                margin: 0px !important;
                vertical-align: middle;
                width: 50px;
                display: inline-block;
            }

            .name-container {
                display: inline-block;
                vertical-align: middle;
                margin-top: 5px;

                .name {
                    display: none;
                }
    
                .handle {
                    width: 100%;
                    text-align: center;
                    font-size: 2vw;
                }
            }
        }
    }

}
@media(max-width: 615px) {
    select {
        display: none;
        margin-right: 10px !important;
    }

    .name-container {
        margin-left: 10px !important;

        p {
            font-size: 13px !important;
        }
    }
}

@media(max-width: 600px) {
    .handle {
        display: none !important;
    }
}

@media(max-width: 380px) {
    select {
        margin-right: 5vw;
        font-size: 4.2vw;
    }
    
    .account {
        .name-container {
            display: none !important;
        }
    }
}

@media(max-width: 400px) {
    .side-nav {
        .account {
            img {
                width: 12vw;
            }
        }
    }
}

@media(max-width: 355px) {
    .side-nav {
        padding: 10px 5px;
        width: calc(100% - 10px);
        max-width: calc(100% - 10px);
        font-size: 12px;
    }
}