@import "../../variables";

.side-nav {
    background-color: $primary;
}

input[type=checkbox] {
    background-color: $accent;
    display: none;
}

.checkbox {
    width: 11px;
    height: 11px;
    background-color: $primary;
    border: solid 1px grey;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.active-cb {
    background-color: $accent;
}

.checkbox-container {

    li {
        color: lightgrey;
    }

    .checkbox, .active-cb {
        background-color: $primary !important;
        border-color: lightgrey;
        cursor: auto;
    }
}

select, option {
    border: none;
    max-width: 108px;
    background-color: $primary;
    color: $secondary;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

select:hover {
    color: $accent;
}

@media(max-width: 700px) {
    .side-nav {
        display: block;
        width: calc(100% - 21px);
        height: auto;
        padding: 10px;
    }

    ul {
        display: flex;
        margin: 0px;

        li, div, select {
            flex-basis: 25%;
            text-align: center;
            margin-bottom: 0px;
        }

        .checkbox {
            width: 8px;
            height: 8px;
        }

        select {
            max-width: 20%;
            margin: 0px 2.5%;
        }

        div {
            li {
                width: 100%;
            }
        }
    }
}
@media(max-width: 575px) {
    ul {

        li, div, select {
            flex-basis: calc(100% / 3);
        }

        select {
            display: none;
        }
    }
}

@media(max-width: 355px) {
    .side-nav {
        padding: 10px 5px;
        width: calc(100% - 11px);
        font-size: 12px;
    }
}