.preview-background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.post-preview {
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 90% !important;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
}

.post-preview .close {
  width: 13px;
  position: relative;
  top: -5px;
  float: right;
  color: #d60000;
  cursor: pointer;
}

.post-preview .close:hover {
  color: #b70000;
}

.post-preview .retweet-name {
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}

.post-preview .retweet-name .retweet-pic {
  color: #232323;
  border-radius: 100%;
  vertical-align: middle;
}

.post-preview .profile-pic {
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.post-preview .profile-headers {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  cursor: pointer;
}

.post-preview .profile-headers p, .post-preview .profile-headers .verified {
  display: inline-block;
  width: auto;
  font-size: 18px;
}

.post-preview .profile-headers .verified {
  margin-left: 10px;
  vertical-align: bottom;
}

.post-preview .profile-headers p:nth-of-type(2) {
  display: block;
  font-size: 16px;
  color: grey;
}

@media (max-width: 425px) {
  .post-preview .profile-headers p {
    font-size: 16px;
  }
  .post-preview .profile-headers p:nth-of-type(2) {
    font-size: 14px;
  }
}

.post-preview .text {
  color: #232323;
  margin-top: 15px;
  font-size: 20px;
}

@media (max-width: 415px) {
  .post-preview .text {
    font-size: 16px;
  }
}

.post-preview .links-container {
  margin-top: 15px;
}

.post-preview .links-container .user-links {
  text-decoration: none;
  color: #009a7f;
  display: block;
}

.post-preview .links-container .user-links:hover {
  color: #007a63;
}

@media (max-width: 425px) {
  .post-preview .links-container .user-links {
    font-size: 12px;
  }
}

.post-preview .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
  overflow: hidden;
}

.post-preview .media-container .image-containers {
  -ms-flex-preferred-size: calc(50% - 5px);
      flex-basis: calc(50% - 5px);
  height: auto;
  min-height: 100px;
  max-height: 250px;
  max-width: 50%;
}

.post-preview .media-container .image-containers .image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-preview .media-container .image-containers:nth-of-type(odd) {
  padding-right: 5px !important;
}

.post-preview .media-container .image-containers:nth-of-type(even) {
  padding-left: 5px !important;
}

.post-preview .media-container .image-containers:nth-of-type(3), .post-preview .media-container .image-containers:nth-of-type(4) {
  margin-top: 10px;
}

.post-preview .media-container .image-containers:only-child {
  padding: 0px !important;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  max-height: 100%;
}

.post-preview .quoted-tweet {
  padding: 10px;
  border: solid 1px lightgrey;
  border-radius: 15px;
  width: calc(100% - 22px);
  margin-top: 15px;
  cursor: pointer;
}

.post-preview .quoted-tweet .profile-pic {
  width: 45px;
  height: auto;
}

.post-preview .quoted-tweet .profile-headers p {
  font-size: 14px;
}

.post-preview .quoted-tweet .profile-headers p:nth-of-type(2) {
  font-size: 12px;
}

@media (max-width: 425px) {
  .post-preview .quoted-tweet .profile-headers p {
    font-size: 12px;
  }
  .post-preview .quoted-tweet .profile-headers p:nth-of-type(2) {
    font-size: 10px;
  }
}

.post-preview .quoted-tweet .profile-headers img {
  height: 15px;
  width: auto;
}

.post-preview .quoted-tweet .text {
  font-size: 16px;
}

@media (max-width: 425px) {
  .post-preview .quoted-tweet .text {
    font-size: 14px;
  }
}

.post-preview .quoted-tweet .user-links {
  font-size: 14px;
}

@media (max-width: 425px) {
  .post-preview .quoted-tweet .user-links {
    font-size: 12px;
  }
}

.post-preview .quoted-tweet .media-container {
  margin-bottom: 0px;
}

.post-preview .mentioned-users {
  width: 100%;
  margin: 15px 0px;
}

.post-preview .mentioned-users .user {
  width: auto;
  display: inline-block;
  color: #009a7f;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.post-preview .mentioned-users .user:first-of-type {
  margin-left: 0px;
}

@media (max-width: 425px) {
  .post-preview .mentioned-users .user {
    font-size: 12px;
  }
}

.post-preview .time {
  margin-top: 15px;
  font-size: 16px;
  color: grey;
  display: inline-block;
}

.post-preview .preview {
  display: inline-block;
  color: #009a7f;
  margin-left: 10px;
  font-size: 15px;
}

.post-preview .user-interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 10px 0px;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}

.post-preview .user-interaction div {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: auto;
}

.post-preview .user-interaction div img {
  background-color: #232323;
  max-height: 20px;
  border-radius: 0px !important;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.post-preview .user-interaction div img:hover {
  background-color: #007a63;
}

.post-preview .user-interaction div p {
  color: grey;
  float: left;
}

@media (max-width: 415px) {
  .post-preview .user-interaction div {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.post-preview .user-interaction div:first-of-type {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.post-preview .user-interaction div:first-of-type a img {
  margin: 0px;
}

.post-preview .user-interaction .selected {
  background-color: #009a7f !important;
}

.post-preview .user-interaction .selected:hover {
  background-color: #007a63 !important;
}

.post-preview .error {
  padding: 10px 0px;
  text-align: center;
}

.post-preview .success {
  padding: 10px 0px;
  color: #009a7f;
}

.post-preview .reply-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-top: 15px;
}

.post-preview .reply-container .reply {
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 7px;
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  margin-right: 5%;
  height: auto;
}

.post-preview .reply-container .submit {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0px 10px !important;
  font-size: 13px;
  height: 30px !important;
}

@media (max-width: 310px) {
  .post-preview .reply-container .reply {
    max-width: 55% !important;
    margin-right: 10% !important;
  }
  .post-preview .reply-container .submit {
    -ms-flex-preferred-size: 30% !important;
        flex-basis: 30% !important;
  }
}

.post-preview::-webkit-scrollbar {
  width: 5px;
}

.post-preview::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.post-preview::-webkit-scrollbar-thumb {
  background-color: #009a7f;
  border-radius: 5px;
}

.post-preview::-webkit-scrollbar-thumb:hover {
  background-color: #007a63;
}
/*# sourceMappingURL=twitter-post.component.css.map */