<div class="preview-background">
    <div class="post-preview">
        <img class="users-profile-pic" width="60" height="auto" src="{{ tweet.user.profile_image_url }}" title="View account" />
        <div class="profile-headers">
            <p>{{ tweet.user.name }}</p>
            <img class="verified" *ngIf="tweet.user.verified" width="20" height="20" src="../../assets/verified.png" />
            <p>@{{ tweet.user.screen_name }}</p>
        </div>
        <p (click)="closeTweet()" class="close">&#10005;</p>
        <p class="text">{{ tweet.full_text }}</p>
        <div class="links-container">
            <ng-container *ngFor="let link of links">
                <a class="user-links" href="{{ link.expandedUrl }}" target="_blank" rel="nofollow" >> {{ link.displayUrl }}</a>
            </ng-container>
        </div>
        <div class="media-container">
            <ng-container *ngFor="let url of imgUrls">
                <img class="image" src={{url}} width="auto" height="auto" alt="A photo posted by the user" />
            </ng-container>
        </div>
        <p class="time" >{{ tweet.time }} | {{ tweet.date }}</p>
        <a class="preview" href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" target="_blank" rel="nofollow" >View Tweet</a>
        <div class="user-interaction">
            <div>
                <img src="../../assets/retweet.png" width="auto" height="20" title="retweet" />
                <p>{{ tweet.retweet_count }}</p>
            </div>
            <div>
                <img *ngIf="!liked; else likedTweet" src="../../assets/tweet-like.PNG" width="auto" height="15" title="like" (click)="likeTweet()" />
                <ng-template #likedTweet>
                    <img src="../../assets/tweet-liked.PNG" width="auto" height="15" title="like" class="selected" (click)="likeTweet()" />
                </ng-template>
                <p>{{ tweet.favorite_count }}</p>
            </div>
        </div>
        <p *ngIf="error" class="error">An error occured, please try again later</p>
    </div>
</div>