<div class="preview-background">
    <div class="post-preview">

        <!-- close the tweet -->
        <p (click)="closeTweet()" class="close">&#10005;</p>

        <!-- if the user retweeted a tweet -->
        <ng-container *ngIf="tweet.original_user; else nonRetweet">
            <p class="retweet-name" (click)="loadUser(tweet.original_user.id_str, tweet.original_user.screen_name)"><img class="retweet-pic" src="{{ tweet.original_user.profile_image_url }}" height="20" width="auto" alt="{{tweet.original_user.name}}'s profile picture" /> {{tweet.original_user.name}} retweeted</p>
            <!-- The rewtweeted user's picture, name, handle & verification badge -->
            <img class="profile-pic" width="60" height="auto" src="{{ tweet.user.profile_image_url }}" title="View account" (click)="loadUser(tweet.user.id_str, tweet.user.screen_name)" />
            <div class="profile-headers" title="View post" (click)="loadUser(tweet.user.id_str, tweet.user.screen_name)">
                <p>{{ tweet.user.name }}</p>
                <img *ngIf="tweet.user.verified" width="20" height="20" src="../../assets/verified.png" />
                <p>@{{ tweet.user.screen_name }}</p>
            </div>
        </ng-container>

        <!-- if the user didn't retweet a tweet -->
        <ng-template #nonRetweet>
            <!-- The user's picture, name, handle & verification badge -->
            <img class="profile-pic" width="60" height="auto" src="{{ tweet.user.profile_image_url }}" title="View account" (click)="loadUser(tweet.user.id_str, tweet.user.screen_name)" />
            <div class="profile-headers" (click)="loadUser(tweet.user.id_str, tweet.user.screen_name)">er
                <p>{{ tweet.user.name }}</p>
                <img class="verified" *ngIf="tweet.user.verified" width="20" height="20" src="../../assets/verified.png" />
                <p>@{{ tweet.user.screen_name }}</p>
            </div>
        </ng-template>
        
        <!-- tweet text -->
        <p class="text">{{ tweet.full_text }}</p>

        <!-- list of external links included in tweet -->
        <div *ngIf="links.length > 0" class="links-container">
            <ng-container *ngFor="let link of links">
                <a class="user-links" href="{{ link.expandedUrl }}" target="_blank" rel="nofollow" >> {{ link.displayUrl }}</a>
            </ng-container>
        </div>

        <!-- media included in  tweet -->
        <div *ngIf="imgUrls.length > 0" class="media-container">
            <div class="image-containers" *ngFor="let url of imgUrls">
                <video *ngIf="url.type === 'video'; else image" class="image-item" controls> <!-- videos -->
                    <source *ngFor="let video of url.video_info.variants" src={{video.url}} type={{video.content_type}}>
                </video>
                <ng-template #image >
                    <img class="image-item" src={{url.media_url_https}} alt="A photo posted by the user" /> <!-- images -->
                </ng-template>
            </div>
        </div>

        <!-- quote tweet if the original tweet is a quote tweet -->
        <div *ngIf="tweet.quoted_status" class="quoted-tweet" (click)="expandTweet()">

            <!-- quoted user's account info -->
            <img class="profile-pic" width="60" height="auto" src="{{ tweet.quoted_status.user.profile_image_url }}" title="View account" (click)="loadQuotedUser($event, tweet.quoted_status.user.id_str, tweet.quoted_status.user.screen_name)" />
            <div class="profile-headers">
                <p>{{ tweet.quoted_status.user.name }}</p>
                <img class="verified" *ngIf="tweet.quoted_status.user.verified" width="20" height="20" src="../../assets/verified.png" />
                <p>@{{ tweet.quoted_status.user.screen_name }}</p>
            </div>

            <!-- quote tweet text -->
            <p class="text">{{ tweet.quoted_status.full_text }}</p>

            <!-- list of external links included in quote tweet -->
            <div *ngIf="linksQuote.length > 0" class="links-container">
                <ng-container *ngFor="let link of linksQuote">
                    <a class="user-links" href="{{ link.expandedUrl }}" target="_blank" rel="nofollow" >> {{ link.displayUrl }}</a>
                </ng-container>
            </div>

            <!-- media included in quote tweet -->
            <div *ngIf="imgUrlsQuote.length > 0" class="media-container">
                <div class="image-containers" *ngFor="let url of imgUrlsQuote">
                    <img *ngIf="url.type === 'photo'" class="image-item" src={{url.media_url_https}} alt="A photo posted by the user" /> <!-- images -->
                    <video *ngIf="url.type === 'video'" class="image-item" controls> <!-- videos -->
                            <source *ngFor="let video of url.video_info.variants" src={{video.url}} type={{video.content_type}}>
                    </video>
                    <p *ngIf="url.type === 'animated_gif'">gif</p>  <!-- animated gifs -->
                </div>
            </div>
        </div>

        <!-- mentioned users-->
        <div *ngIf="tweet.entities.user_mentions.length > 0" class="mentioned-users">
            <p *ngFor="let user of tweet.entities.user_mentions" class="user" (click)="loadUser(user.screen_name)">@{{ user.screen_name }}</p>
        </div>

        <!-- time & date of tweet -->
        <p class="time" >{{ tweet.time }} | {{ tweet.date }}</p>
        <a class="preview" href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" target="_blank" rel="nofollow" >View Tweet</a>
        
        <!-- comments, retweets & likes -->
        <div class="user-interaction">
            <div>
                <a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}" target="_blank" rel="nofollow" >
                    <img src="../../assets/twitter-comment.png" width="auto" height="20"/>
                </a>
            </div>
            <div>
                <img class="retweet" src="../../assets/retweet.png" width="auto" height="20" title="retweet" (click)="retweet()" />
                <p>{{ tweet.retweetsRounded }}</p>
            </div>
            <div>
                <img *ngIf="!liked; else likedTweet" src="../../assets/tweet-like.PNG" width="auto" height="15" title="like" (click)="likeTweet()" />
                <ng-template #likedTweet>
                    <img src="../../assets/tweet-liked.PNG" width="auto" height="15" title="like" class="selected" (click)="likeTweet()" />
                </ng-template>
                <p>{{ tweet.likesRounded }}</p>
            </div>
        </div>

        <!-- Reply container -->
        <form class="reply-container" (submit)="addReply($event)">
            <input placeholder="Reply to @{{tweet.user.screen_name}}" name="reply" class="reply" maxlength="263" (keydown)="checkLength()"/> <!-- max tweet length = 280. minus max handle length of 17 characters -->
            <button class="submit">Tweet</button>
        </form>

        <!-- Error & success messages -->
        <p *ngIf="error" class="error">An error occured, please try again later</p>
        <p *ngIf="success" class="success">Tweet sent</p>
    </div>
</div>