@import '../../variables';

.preview-background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.5);
    display: grid;
    place-items: center;
}

.post-preview {
    width: 30%;
    height: auto;
    padding: 20px;
    background-color: $primary;
    border-radius: 25px;

    img {
        border-radius: 100%;
        display: inline-block;
        margin-right: 10px;
    }

    .profile-headers {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        
        p, img {
            display: inline-block;
            width: auto;
            font-size: 18px;
        }

        img {
            margin-left: 10px;
            vertical-align: bottom;
        }

        p:nth-of-type(2) {
            display: block;
            font-size: 16px;
            color: grey
        }
    }

    .close {
        width: 13px;
        position: relative;
        top: -5px;
        float: right;
        color: $close;
        cursor: pointer;
    }

    .close:hover {
        color: $close-hover
    }

    .text {
        color: $secondary;
        margin: 20px 0px;
        font-size: 20px;
    }

    .time {
        font-size: 16px;
        color: grey;
        display: inline-block;
    }

    .preview {
        display: inline-block;
        color: grey;
        margin-left: 10px;
        font-size: 15px;
    }

    .user-interaction {
        display: flex;
        margin-top: 20px;
        padding: 20px 0px;
        border-top: solid 1px lightgrey;
        border-bottom: solid 1px lightgrey;

        div {
            flex-basis: 20%;
            margin: auto;

            img {
                background-color: $secondary;
                max-height: 20px;
                border-radius: 0px !important;
                float: left;
                cursor: pointer;
            }
            
            img:hover {
                background-color: $hover;
            }
            
            p {
                color: grey;
                float: left;
            }
        }

        .selected {
            background-color: $accent !important;
        }

        .selected:hover {
            background-color: $hover !important;
        }
    }

    .error {
        padding: 10px 0px;
        text-align: center;
    }

}