.preview-background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.post-preview {
  width: 30%;
  height: auto;
  max-height: 820px;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
}

.post-preview .users-profile-pic {
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}

.post-preview .profile-headers {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.post-preview .profile-headers p, .post-preview .profile-headers .verified {
  display: inline-block;
  width: auto;
  font-size: 18px;
}

.post-preview .profile-headers .verified {
  margin-left: 10px;
  vertical-align: bottom;
}

.post-preview .profile-headers p:nth-of-type(2) {
  display: block;
  font-size: 16px;
  color: grey;
}

.post-preview .close {
  width: 13px;
  position: relative;
  top: -5px;
  float: right;
  color: #d60000;
  cursor: pointer;
}

.post-preview .close:hover {
  color: #b70000;
}

.post-preview .text {
  color: #232323;
  margin: 20px 0px;
  font-size: 20px;
}

.post-preview .links-container {
  margin-bottom: 10px;
}

.post-preview .links-container .user-links {
  text-decoration: none;
  color: #009a7f;
}

.post-preview .links-container .user-links:hover {
  color: #007a63;
}

.post-preview .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.post-preview .media-container .image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 200px !important;
  border-radius: 0px !important;
  margin-bottom: 20px;
  max-height: 100%;
  min-width: 100%;
}

.post-preview .media-container .image:nth-of-type(odd) {
  padding-right: 5px !important;
}

.post-preview .media-container .image:nth-of-type(even) {
  padding-left: 5px !important;
}

.post-preview .media-container .image:only-child {
  width: 100% !important;
  padding: 0px !important;
}

.post-preview .time {
  font-size: 16px;
  color: grey;
  display: inline-block;
}

.post-preview .preview {
  display: inline-block;
  color: grey;
  margin-left: 10px;
  font-size: 15px;
}

.post-preview .user-interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 20px 0px;
  border-top: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}

.post-preview .user-interaction div {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: auto;
}

.post-preview .user-interaction div img {
  background-color: #232323;
  max-height: 20px;
  border-radius: 0px !important;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.post-preview .user-interaction div img:hover {
  background-color: #007a63;
}

.post-preview .user-interaction div p {
  color: grey;
  float: left;
}

.post-preview .user-interaction .selected {
  background-color: #009a7f !important;
}

.post-preview .user-interaction .selected:hover {
  background-color: #007a63 !important;
}

.post-preview .error {
  padding: 10px 0px;
  text-align: center;
}

.post-preview::-webkit-scrollbar {
  width: 5px;
}

.post-preview::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.post-preview::-webkit-scrollbar-thumb {
  background-color: #009a7f;
  border-radius: 5px;
}

.post-preview::-webkit-scrollbar-thumb:hover {
  background-color: #007a63;
}
/*# sourceMappingURL=twitter-post.component.css.map */