@import '../../variables';

.platform-icon, .twitter-header, .linkedin-header, .facebook-header {
    width: calc(100% - 2px);
    height: auto;
    padding-left: 3px;
    background-color: $twitter;
    padding-top: 3px;
}

.platform-icon {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.twitter-header, .linkedin-header, .facebook-header {
    border-radius: 3px;
    margin-bottom: 20px;
}

.twitter-header {
    background-color: $twitter;
}

.linkedin-header {
    background-color: $linkedin;
}

.facebook-header {
    background-color: $facebook;
}

main {
    display: flex;
    background-color: $off-primary;
}

.feeds {
    width: 100%;
    margin-right: 20px;
}

.feeds:last-of-type {
    margin-right: 0px;
}

.single-feed {
    display: block !important;
    padding: 20px 15%;
}

.load-account-post {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}