<app-header [posts]="true"></app-header>
<div class="main-content">
    <app-side-nav [feed]="true" [twitter]="twitter" [linkedin]="linkedin" [facebook]="facebook" (toggleFeedMethod)="toggleFeed($event)" (platformFeeds)="togglePlatforms($event)"></app-side-nav>
    <main>
        <div *ngIf="twitter.feed" class="feeds">
            <app-platform-headers platform="twitter"></app-platform-headers>
            <p *ngIf="twitterPostsError !== false" class="error">{{ twitterPostsError }}</p>
            <div *ngFor="let post of twitterPosts">
                <app-feed-posts [post]=post [search]="false" [user]="user" (showPost)="showTweet($event)" (showUser)="showTwitterAccount($event)"></app-feed-posts>
            </div>
        </div>

        <div *ngIf="linkedin.feed" class="feeds">
            <app-platform-headers platform="linkedin"></app-platform-headers>
            <div *ngFor="let post of linkedinPosts">
                <app-feed-posts [post]=post></app-feed-posts>
            </div>
        </div>

        <div *ngIf="facebook.feed" class="feeds">
            <app-platform-headers platform="facebook"></app-platform-headers>
            <div *ngFor="let post of facebookPosts">
                <app-feed-posts [post]=post></app-feed-posts>
            </div>
        </div>
    </main>
</div>
<app-loading *ngIf="loading"></app-loading>

<!-- post & account previews -->
<app-twitter-account *ngIf="twitterAccount !== false" [account]="twitterAccount" (closePreview)="close()" (showTweet)="showTweet($event)" ></app-twitter-account>
<app-twitter-post *ngIf="tweet !== false" [tweet]="tweet" (close)="close()" (updateTweet)="showTweet($event)" (showUser)="showTwitterAccount($event)"></app-twitter-post>
<!--
<app-linkedin-account></app-linkedin-account>
<app-linkedin-post></app-linkedin-post>

<app-facebook-account></app-facebook-account>
<app-facebook-post></app-facebook-post>
-->