@import '../../variables';

.platform-sections-connected {
    width: 100%;
    height: 100%;
    display: block;
    background-color: $primary;
    border: solid 2px $accent;
    border-radius: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    
    .account-info {
        display: block;
    
        .default-background {
            width: 100%;
            height: 150px;
            background-color: $accent;
            background-image: linear-gradient(45deg, $accent, $hover);
        }
    
        .profile-pic-container {
            position: relative;
            height: 50px;
    
            .profile-pic {
                border: solid 4px $primary;
                border-radius: 100%;
                position: absolute;
                left: 10px;
                top: -40px;
                background-color: $primary;
            }
        }

        .edit {
            margin-right: 10px;
        }

        .edit > img {
            font-size: 14px;
            border-radius: 3px;
            padding: 1px 3px;
            float: right;
            cursor: pointer;
        }

        .edit > img {
            background-color: $secondary;
            padding: 0px;
            border-radius: 0px;
        }

        .edit > img:hover {
            background-color: $accent;
        }
    
        .name, .handle {
            margin-left: 10px;
            color: $secondary;
            font-size: 17px;
        }
    
        .name {
            font-weight: 600;
        }
    
        .handle {
            font-weight: 400;
        }
    
        .verified {
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
        }

        .description {
            margin-top: 20px;
            margin-left: 20px;
            color: $secondary;
        }

        .info, .info-interaction {
            margin-left: 10px;
        }

        .info {
            margin-top: 20px;
            color: $secondary;
            width: 100%;

            p, a {
                display: inline-block;
                width: auto;
                margin: 5px 0px;
            }
    
            p {
                color: $secondary;
                margin-right: 20px;
    
                img {
                    vertical-align: bottom;
                }
            }
    
            a {
                color: $accent;
            }
    
            a:hover {
                color: $hover;
            }
        }

        .info-interaction {
            margin-top: 20px;
            width: 100%;
            padding-bottom: 20px;

            a, a:visited, span {
                margin-right: 10px;
                color: $secondary;
            }

            a:hover {
                color: $hover;
            }

            span:last-of-type {
                margin-right: 0px;
            }
        }

        .disconnect {
            width: 35%;
            border: none;
            padding: 10px;
            border-radius: 10px;
            background-color: darkgrey;
            color: $primary;
            font-size: 16px;
            margin: 10px;
            box-shadow: #dbdbdb 2px 2px 7px;
            cursor: pointer;
        }
    
        .disconnect:hover {
            background-color: grey;
        }
    }

    .error {
        width: calc(100% - 20px);
        padding: 0px 10px;
        font-size: 14px;
        margin-top: 10px;
    }
}