@import '../../variables';

.platform-sections-connected {
    width: 100%;
    height: auto;
    min-height: 650px;
    display: block;
    background-color: $primary;
    border: solid 2px $accent;
    border-radius: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    
    .account-info {
        display: block;
    
        .default-background {
            width: auto;
            height: auto;
            background-color: $accent;
            background-image: $bg-grad;

            img {
                opacity: 0;
            }
        }
    
        .profile-pic-container {
            position: relative;
            height: 50px;
    
            .profile-pic {
                border: solid 4px $primary;
                border-radius: 100%;
                position: absolute;
                left: 10px;
                top: -40px;
                background-color: $primary;
            }
        }
    
        .name, .handle {
            margin-left: 10px;
            color: $secondary;
            font-size: 17px;
        }
    
        .name {
            font-weight: 600;
        }
    
        .handle {
            font-weight: 400;
        }
    
        .verified {
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
        }

        .description {
            margin: 20px 20px 0px 10px;
            color: $secondary;
            width: calc(100% - 20px);
        }

        .info, .info-interaction {
            margin-left: 10px;
        }

        .info {
            margin-top: 20px;
            margin-right: 10px;
            color: $secondary;
            width: calc(100% - 20px);

            p, a {
                display: inline-block;
                width: auto;
                margin: 0px;
            }
    
            p {
                color: $secondary;
                margin-right: 20px;
    
                img {
                    vertical-align: bottom;
                }
            }
    
            a, a:visited {
                color: $accent;
            }

            a:hover {
                color: $hover;
            }
        }

        .info-interaction {
            margin: 20px 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid $accent;

            a, a:visited, span {
                margin-right: 10px;
                color: $secondary;
            }

            a:hover {
                color: $hover;
            }

            span:last-of-type {
                margin-right: 0px;
            }
        }   
    }
}

.update-twitter-form {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;

    .update-title {
        flex: 1 0 calc(100% - 12px);
        margin-bottom: 20px;
        color: grey;
    }

    input, textarea {
        flex: 0 1 calc(50% - 17px);
        max-width: calc(50% - 17px);
        margin-bottom: 10px;
        border-color: $secondary;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px darkgrey;
    }

    input:focus {
        border:solid 1px $accent;
    }

    input:nth-of-type(odd) {
        margin-left: 5px;
    }

    input:nth-of-type(even) {
        margin-right: 5px;
    }

    input:first-of-type {
        flex: 1 0 calc(100% - 12px);
        max-width: calc(100% - 12px);
        margin-left: 0px;
    }

    textarea {
        flex: 1 0 calc(100% - 12px);
        max-width: calc(100% - 12px);
        max-height: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.button-container {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;

    button {
        flex: 0 1 calc(50% - 10px);
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: #dbdbdb 2px 2px 7px;
    }
    
    .update {
        margin-right: 10px;
    }

    .update:disabled {
        background-color: $disabled;
    }

    .disconnect {
        background-color: darkgrey;
        color: $primary;
        margin-left: 10px;
        cursor: pointer;
    }

    .disconnect:hover {
        background-color: grey;
    }

    p {
        font-size: 14px;
        margin-top: 10px;
    }

    .error {
        flex: 1 0 100%;
    }
}

@media(max-width: 1860px) { // change width of location & website URL to be 100%
    .a5 {
        flex: 1 0 calc(100% - 12px) !important;
        max-width: calc(100% - 12px) !important;
        margin: 0px;
        margin-bottom: 10px;
    }
}

@media(max-width: 1800px) {
    .a5 {

        .account-info {

            .info, .description {
                margin-top: 10px;
            }
        
            .info-interaction {
                margin: 10px;
                padding-bottom: 10px;
            }
        
            .update-title {
                margin-bottom: 10px;
            }
        }
    }
}

@media(max-width: 1650px) {
    .a5 {
        
        .account-info {

            .name, .handle {
                font-size: 15px;
            }

            .description, .info, .info-interaction, .update-title {
                font-size: 13px;
            }

            .info {
                p {
                    margin-right: 10px;
                }
            }

            button {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1530px) { // change width of location & website URL to be 100%
    .a4 {

        .account-info {

            .update-twitter-form {

                input {
                    flex: 1 0 calc(100% - 12px) !important;
                    max-width: calc(100% - 12px) !important;
                    margin: 0px;
                    margin-bottom: 10px;
                }
            }
        }

        .description, .info {
            margin-top: 10px !important;
        }

        .info-interaction {
            margin: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}

@media(max-width: 1414px) { // hide the account info so that the card can replace it
    .a5 {
        display: none;
    }
}

@media(max-width: 1350px) {
    .a4 {
        .account-info {

            .name, .handle {
                font-size: 15px;
            }

            .description, .info, .info-interaction, .update-title {
                font-size: 13px;
            }

            .info {
                p {
                    margin-right: 10px;
                }
            }

            .update-title {
                margin-bottom: 10px;
            }

            button {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1200px) {
    // change width of location & website URL to be 100%
    .a3 {

        .account-info {

            .update-twitter-form {

                input {
                    flex: 1 0 calc(100% - 12px) !important;
                    max-width: calc(100% - 12px) !important;
                    margin: 0px;
                    margin-bottom: 10px;
                }
            }
        }

        .description, .info {
            margin-top: 10px !important;
        }

        .info-interaction {
            margin: 10px !important;
            padding-bottom: 10px !important;
        }
    }

    // hide the account info so that the card can replace it
    .a4 {
        display: none;
    }
}

@media(max-width: 1100px) {
    .a3 {
        .account-info {

            .name, .handle {
                font-size: 15px;
            }

            .description, .info, .info-interaction, .update-title {
                font-size: 13px;
            }

            .info {
                p {
                    margin-right: 10px;
                }
            }

            .update-title {
                margin-bottom: 10px;
            }

            button {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1000px) { // hide the account info so that the card can replace it
    .a3 {
        display: none;
    }
}

@media(max-width: 900px) {
    .a2 {

        .description, .info {
            margin-top: 10px !important;
        }

        .info-interaction {
            margin: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}

@media(max-width: 875px) { // change width of location & website URL to be 100%
    .a2 {
        .account-info {

            .update-twitter-form {

                input {
                    flex: 1 0 calc(100% - 12px) !important;
                    max-width: calc(100% - 12px) !important;
                    margin: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}


@media(max-width: 800px) {
    .a2 {

        .account-info {

            .name, .handle {
                font-size: 15px;
            }

            .description, .info, .info-interaction, .update-title {
                font-size: 13px;
            }

            .info {
                p {
                    margin-right: 10px;
                }
            }

            .update-title {
                margin-bottom: 10px;
            }

            button {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 700px) {
    .a1, .a2, .a3, .a4, .a5 {
        flex: 1 0 100% !important;
        max-width: 100% !important;
        height: auto !important;
        display: block;
    } 
}

@media(max-width: 350px) { // change width of location & website URL to be 100%
    .update-twitter-form {

        input {
            flex: 1 0 calc(100% - 12px) !important;
            max-width: calc(100% - 12px) !important;
            margin: 0px;
            margin-bottom: 10px;
        }
    }
}