.platform-sections-connected {
  width: 100%;
  height: auto;
  min-height: 650px;
  display: block;
  background-color: #fff;
  border: solid 2px #009a7f;
  border-radius: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.platform-sections-connected .account-info {
  display: block;
}

.platform-sections-connected .account-info .default-background {
  width: auto;
  height: auto;
  background-color: #009a7f;
  background-image: linear-gradient(45deg, #009a7f, #007a63);
}

.platform-sections-connected .account-info .default-background img {
  opacity: 0;
}

.platform-sections-connected .account-info .profile-pic-container {
  position: relative;
  height: 50px;
}

.platform-sections-connected .account-info .profile-pic-container .profile-pic {
  border: solid 4px #fff;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: -40px;
  background-color: #fff;
}

.platform-sections-connected .account-info .name, .platform-sections-connected .account-info .handle {
  margin-left: 10px;
  color: #232323;
  font-size: 17px;
}

.platform-sections-connected .account-info .name {
  font-weight: 600;
}

.platform-sections-connected .account-info .handle {
  font-weight: 400;
}

.platform-sections-connected .account-info .verified {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.platform-sections-connected .account-info .description {
  margin-top: 20px;
  margin-left: 10px;
  color: #232323;
}

.platform-sections-connected .account-info .info, .platform-sections-connected .account-info .info-interaction {
  margin-left: 10px;
}

.platform-sections-connected .account-info .info {
  margin-top: 20px;
  color: #232323;
  width: 100%;
}

.platform-sections-connected .account-info .info p, .platform-sections-connected .account-info .info a {
  display: inline-block;
  width: auto;
  margin: 5px 0px;
}

.platform-sections-connected .account-info .info p {
  color: #232323;
  margin-right: 20px;
}

.platform-sections-connected .account-info .info p img {
  vertical-align: bottom;
}

.platform-sections-connected .account-info .info a, .platform-sections-connected .account-info .info a:visited {
  color: #009a7f;
}

.platform-sections-connected .account-info .info a:hover {
  color: #007a63;
}

.platform-sections-connected .account-info .info-interaction {
  margin: 20px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #009a7f;
}

.platform-sections-connected .account-info .info-interaction a, .platform-sections-connected .account-info .info-interaction a:visited, .platform-sections-connected .account-info .info-interaction span {
  margin-right: 10px;
  color: #232323;
}

.platform-sections-connected .account-info .info-interaction a:hover {
  color: #007a63;
}

.platform-sections-connected .account-info .info-interaction span:last-of-type {
  margin-right: 0px;
}

.update-twitter-form {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.update-twitter-form .update-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 12px);
          flex: 1 0 calc(100% - 12px);
  margin-bottom: 20px;
  color: grey;
}

.update-twitter-form input, .update-twitter-form textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 17px);
          flex: 0 1 calc(50% - 17px);
  max-width: calc(50% - 17px);
  margin-bottom: 10px;
  border-color: #232323;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px darkgrey;
}

.update-twitter-form input:focus {
  border: solid 1px #009a7f;
}

.update-twitter-form input:nth-of-type(odd) {
  margin-left: 5px;
}

.update-twitter-form input:nth-of-type(even) {
  margin-right: 5px;
}

.update-twitter-form input:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 12px);
          flex: 1 0 calc(100% - 12px);
  max-width: calc(100% - 12px);
  margin-left: 0px;
}

.update-twitter-form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 12px);
          flex: 1 0 calc(100% - 12px);
  max-width: calc(100% - 12px);
  max-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-container {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-container button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  -webkit-box-shadow: #dbdbdb 2px 2px 7px;
          box-shadow: #dbdbdb 2px 2px 7px;
}

.button-container .update {
  margin-right: 10px;
}

.button-container .update:disabled {
  background-color: #4bbba6;
}

.button-container .disconnect {
  background-color: darkgrey;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.button-container .disconnect:hover {
  background-color: grey;
}

.button-container p {
  font-size: 14px;
  margin-top: 10px;
}

.button-container .error {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (max-width: 1860px) {
  .a5 {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(100% - 12px) !important;
            flex: 1 0 calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    margin: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1530px) {
  .a4 {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(100% - 12px) !important;
            flex: 1 0 calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    margin: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1414px) {
  .a5 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .a3 {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(100% - 12px) !important;
            flex: 1 0 calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    margin: 0px;
    margin-bottom: 10px;
  }
  .a4 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .a3 {
    display: none;
  }
}

@media (max-width: 875px) {
  .a2 {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(100% - 12px) !important;
            flex: 1 0 calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    margin: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .a1 {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(100% - 12px) !important;
            flex: 1 0 calc(100% - 12px) !important;
    max-width: calc(100% - 12px) !important;
    margin: 0px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=account-profile.component.css.map */