<!-- Twitter template -->
<ng-container *ngIf="account">
    <div class="platform-sections-connected">
        <div class="account-info">
            <img *ngIf="account.profile_banner_url; else elseBlock" width="100%" height="150" src="{{ account.profile_banner_url }}" />
            <ng-template #elseBlock >
                <div class="default-background"></div>
            </ng-template>
            <div class="profile-pic-container">
                <img width="65" height="65" class="profile-pic" src="{{ account.profile_image_url_https }}" />
            </div>

            <p class="name">{{ account.name }}</p>
            <img *ngIf="account.verified" src="../../assets/verified.png" width="20" height="20" alt="User is verified" class="verified" />
            <p class="handle">@{{ account.screen_name }}</p>

            <!-- user's profile description -->
            <p *ngIf="account.description" class="description">{{ account.description }}</p>
                
            <div class="info">
                <p *ngIf="account.location"><img src="../../assets/pin.png" width="auto" height="20" /> {{ account.location }}</p>
                <a *ngIf="account.entities.url" href="{{account.entities.url.urls[0].expanded_url}}" [ngStyle]="{'color': '#' + account.profile_link_color}" target="_blank" >{{ account.entities.url.urls[0].display_url }}</a>
            </div>

            <!-- links to the user's tweets, followers & who they're following -->
            <div class="info-interaction">
                <a href="my-feed">{{ account.statusesRounded }} Tweets</a>
                <span>{{ account.followingRounded }} Following</span>
                <span>{{ account.followersRounded }} Followers</span>
            </div>
            <div class="update-twitter-form">
                <p class="update-title">Update Twitter Account -</p>
                <br />
                <div class="profile-pic-new">
                    <img width="100" height="100" src="{{ account.profile_image_url_https }}" alt="Preview of @{{ account.screen_name }}'s profile picture" />
                    <label>
                        <input (change)="updatePhoto($event)" type="file" accept="image/*"/>
                        <span class="plus">&#43;</span>
                    </label>
                </div>
                <div class="banner-pic-new">
                    <img *ngIf="bannerProvided" width="320" height="100" src="{{ account.profile_banner_url }}" alt="Preview of @{{ account.screen_name }}'s profile banner" />
                    <label>
                        <input (change)="updateBanner($event)" type="file" accept="image/*"/>
                        <span class="plus">&#43;</span>
                    </label>
                </div>
                <input type="text" placeholder="Update name" (keyup)="updateFields('name', $event)"/>
                <input type="text" placeholder="Update location" (keyup)="updateFields('location', $event)"/>
                <input type="text" placeholder="Update website URL" (keyup)="updateFields('url', $event)"/>
                <input type="color" value="#{{ account.profile_link_color }}" title="Change colour of your URL link" (change)="updateFields('colour', $event)"/>
                <textarea type="text" placeholder="Update bio" maxlength="160" (keyup)="updateFields('bio', $event)"></textarea>
            </div>
            <div class="button-container">
                <button name="update" class="submit update" [disabled]="disableButton" (click)="updateAccountInfo()">Update Account</button>
                <button name="disconnect clear" class="disconnect" (click)="disconnect()">Disconnect</button>
                <br />
                <p *ngIf="error" class="error">An error occured when trying to remove the profile, please try again later</p>
            </div>
        </div>
    </div>
</ng-container>