<!-- Twitter template -->
<ng-container *ngIf="account">
    <div class="platform-sections-connected a{{ count }}">
        <div class="account-info">
            <img *ngIf="account.profile_banner_url; else elseBlock" width="100%" height="auto" src="{{ account.profile_banner_url }}" />
            <ng-template #elseBlock >
                <div class="default-background">
                    <img src="../../assets/default-blank.png" width="100%" height="auto" alt="default user banner" /> <!-- the file size is 564 bytes as it's only needed for it's size/ratio -->
                </div>
            </ng-template>
            <div class="profile-pic-container">
                <img width="65" height="65" class="profile-pic" src="{{ account.profile_image_url_https }}" />
            </div>

            <p class="name">{{ account.name }}</p>
            <img *ngIf="account.verified" src="../../assets/verified.png" width="20" height="20" alt="User is verified" class="verified" />
            <p class="handle">@{{ account.screen_name }}</p>

            <!-- user's profile description -->
            <p *ngIf="account.description" class="description">{{ account.description }}</p>
                
            <div class="info">
                <p *ngIf="account.location"><img src="../../assets/pin.png" width="auto" height="20" /> {{ account.location }}</p>
                <a *ngIf="account.entities.url" href="{{account.entities.url.urls[0].expanded_url}}" target="_blank" >{{ account.entities.url.urls[0].display_url }}</a>
            </div>

            <!-- links to the user's tweets, followers & who they're following -->
            <div class="info-interaction">
                <a href="my-feed">{{ account.statusesRounded }} Tweets</a>
                <span>{{ account.followingRounded }} Following</span>
                <span>{{ account.followersRounded }} Followers</span>
            </div>
            <div class="update-twitter-form">
                <p class="update-title">Update Twitter Account -</p>
                <br />
                <input type="text" placeholder="Update name" (keydown)="updateFields('name', $event)" class="form-fields" value="{{ name }}"/>
                <input type="text" placeholder="Update location" (keydown)="updateFields('location', $event)" class="form-fields" value="{{ location }}"/>
                <input type="text" placeholder="Update website URL" (keydown)="updateFields('url', $event)" class="form-fields" value="{{ url }}"/>
                <textarea type="text" placeholder="Update bio" maxlength="160" (keydown)="updateFields('bio', $event)" class="form-fields">{{ description }}</textarea>
            </div>
            <div class="button-container">
                <button name="update" class="submit update" [disabled]="disableButton" (click)="updateAccountInfo()">Update Account</button>
                <button name="disconnect clear" class="disconnect" (click)="disconnect($event)">Disconnect</button>
                <br />
                <p [ngClass]="{'error' : !message.success}">{{ message.text }}</p>
            </div>
        </div>
    </div>
</ng-container>