@import "../../variables";

.results {
    width: calc(100% - 22px);
    height: auto;
    padding: 10px;
    background-color: $primary;
    border: solid 1px lightgrey;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;

    img {
        border-radius: 100%;
        display: inline-block;
        margin-right: 10px;
    }

    .profile-headers {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        
        p, img {
            display: inline-block;
            width: auto;
        }

        img {
            margin-left: 10px;
            vertical-align: bottom;
        }

        p:nth-of-type(2) {
            display: block;
            font-size: 14px;
            color: grey
        }
    }

    .text {
        color: $secondary;
        margin: 10px 0px;
    }

    // used for users & not posts

    .followers {
        color: $secondary;

        p {
            font-size: 13px;
            color: grey;
            display: inline-block;
            margin-right: 20px;

            span {
                font-size: 16px;
                color: $secondary;
            }
        }

        .following {
            background-color: $off-primary;
            border: solid 1px lightgrey;
            border-radius: 3px;
            padding: 1px 3px;
        }
    }

    // used for posts rather & not users

    .time {
        font-size: 14px;
        color: grey;
    }

}