@import "../../variables";

.results {
    width: calc(100% - 22px);
    height: auto;
    padding: 10px;
    background-color: $primary;
    border: solid 1px lightgrey;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;

    .retweet-name {
        font-size: 14px;
        color: grey;
        margin-bottom: 10px;

        .retweet-pic {
            color: $secondary;
            border-radius: 100%;
            vertical-align: middle;
        }
    }

    .delete-post {
        background-color: $close;
        float: right;
        border-radius: 0px;
        margin: 0px;
    }

    .delete-post:hover {
        background-color: $close-hover;
    }

    .profile-pic {
        border-radius: 100%;
        display: inline-block;
        margin-right: 10px;
    }

    .profile-headers {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        
        p, img {
            display: inline-block;
            width: auto;
        }

        img {
            margin-left: 10px;
            vertical-align: bottom;
        }

        p:nth-of-type(2) {
            display: block;
            font-size: 14px;
            color: grey
        }
    }

    .text {
        color: $secondary;
        margin-top: 10px;
        word-break: break-word;
    }

    // used for users & not posts

    .followers {
        color: $secondary;

        p {
            font-size: 13px;
            color: grey;
            display: inline-block;
            margin-right: 20px;

            span {
                font-size: 16px;
                color: $secondary;
            }
        }

        .following {
            background-color: $off-primary;
            border: solid 1px lightgrey;
            border-radius: 3px;
            padding: 1px 3px;
        }
    }

    // used for posts rather & not users

    .links-container {
        margin-top: 15px;

        .user-links {
            text-decoration: none;
            color: $accent;
            display: block;
            white-space: nowrap;
            max-width: 1%;
        }
    
        .user-links:hover {
            color: $hover;
        }

        @media(max-width: 425px) {
            .user-links {
                font-size: 12px;
            }
        }
    }

    .media-container {
        display: flex;
        width: 100%;
        margin: 0px;
        margin-top: 15px;
        padding: 0px;
        flex-wrap: wrap;
        border-radius: 20px;
        overflow: hidden;

        .image-containers {
            flex-basis: calc(50% - 5px);
            height: auto;
            min-height: 100px;
            max-height: 250px;
            max-width: 50%;

            .image-item {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0px !important;
            }
        }
        
        .image-containers:nth-of-type(odd) {
            padding-right: 5px !important;
        }

        .image-containers:nth-of-type(even) {
            padding-left: 5px !important;
        }

        .image-containers:nth-of-type(3), .image-containers:nth-of-type(4) {
            margin-top: 10px;
        }

        .image-containers:only-child {
            padding: 0px !important;
            flex-basis: 100%;
            max-width: 650px;
            max-height: 100%;
            margin: auto;

            .image-item {
                border-radius: 20px !important;
            }
        }
    }

    .quoted-tweet {
        padding: 10px;
        border: solid 1px lightgrey;
        border-radius: 10px;
        width: calc(100% - 22px);
        margin-top: 15px;
        cursor: pointer;

        .users-profile-pic {
            width: 45px;
            height: auto;
            border-radius: 100%;
            margin-right: 10px;
        }

        .profile-headers {
                
            p {font-size: 14px}
            p:nth-of-type(2) {font-size: 12px}
            
            @media(max-width: 425px) {
                p {font-size: 12px}
                p:nth-of-type(2) {font-size: 10px}
            }

            img {
                height: 15px;
                width: auto;
            }
        }

        .text {
            font-size: 16px;
        }

        @media(max-width: 425px) {
            .text {
                font-size: 14px;
            }
        }

        .user-links {
            font-size: 14px;
        }

        @media(max-width: 425px) {
            .user-links {
                font-size: 12px;
            }
        }

        .media-container {
            margin-bottom: 0px;
        }
    }

    .mentioned-users {
        width: 100%;
        margin: 10px 0px;

        .user {
            width: auto;
            display: inline-block;
            color: $accent;
            font-size: 14px;
            margin-left: 10px;
            cursor: pointer;
        }

        .user:first-of-type {
            margin-left: 0px;
        }

        @media(max-width: 425px) {
            .user {
                font-size: 12px;
            }
        }
    }

    .time {
        margin-top: 15px;
        font-size: 14px;
        color: grey;
    }
}

.results:hover {
    background-color: #f7f7f7;
}