<div class="results" (click)="viewPost($event)">
    <img width="50" height="50" src="{{ post.user.profile_image_url }}" (click)="viewUser($event)" title="View account" />
    <div class="profile-headers" (click)="viewUser($event)" title="View post">
        <p>{{ post.user.name }}</p>
        <img *ngIf="post.user.verified" width="20" height="20" src="../../assets/verified.png" />
        <p>@{{ post.user.screen_name }}</p>
    </div>
    <p class="text">{{ post.text }}</p>
    <p class="time" *ngIf="search; else elseBlock">{{ post.time }} | {{ post.date }}</p>
    <ng-template #elseBlock>
        <p class="time">{{ post.created_at }}</p>
    </ng-template>
</div>