@import "../../variables";

.body {
    background-color: $secondary;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
    display: grid;
    place-items: center;
    overflow: hidden;
    height: 100vh !important;
}

main {
    width: 90%;
    max-width: 550px;
    height: auto;
    border-radius: 30px;
    display: grid;
    place-items: center;

    h1, h2 {
        color: $primary;
        text-align: center;
        text-shadow: 1.5px 1.5px 3px $secondary;
    }

    h1 {
        font-size: 70px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 40px;
    }

    img {
        max-width: 280px;
        margin: 50px 0px;
        background-color: $primary;
        border-radius: 100%;
        padding: 60px;
    }

    .button-container {
        width: 100%;
        display: flex;

        .submit, .submit:visited, .submit:hover {
            flex-basis: 50%;
            background-color: $accent;
            border: solid 3px $primary;
            text-decoration: none;
            font-weight: 100;
            margin: 0px 30px;
            box-shadow: #212121 2px 2px 7px !important;
        }
    
        .submit:hover {
            background-color: $hover;
        }
    }
}

// styles for larger screens (w: 1921 <=)

@media(min-width: 1921px) {

    .body {
        background-image: url("../../assets/pine-forest-large.WebP");
    }

    main { 
        h1 {
            font-size: 2.5vw;
        }

        h2 {
            font-size: 2vw;
        }
    }

}

// styles for standard desktop monitors (w: 1920 >=)

@media(max-width: 1920px) {

    .body {
        background-image: url("../../assets/pine-forest-med.WebP");
    }

}

// styles for tablets (w: 1024 >=)

@media(max-width: 1024px) {

    .body {
        background-image: url("../../assets/pine-forest-small.WebP");
    }

    main {
        h1 {
            font-size: 8vw;
        }

        h2 {
            font-size: 6vw;
        }
    }

}

@media(max-width: 500px) {
    main {
        img {
            width: 50vw;
            padding: 10vw;
        }
    }
}

@media(max-width: 400px) {
    a {
        font-size: 4.5vw;
        padding: 10px;
    }
}