<div class="body">
    <div class="background">
        <div>
            <h1 class="title">Blackpines.</h1>
            <a href="/entry" class="join">Get Started</a>
        </div>
    </div>
    <main>
        <section class="info">
            <p>Blackpines is a Twitter management tool, sign up to connect multiple Twitter accounts and manage their feeds, tweets & presence in one place.</p>
        </section>
        <div class="break"></div>
        <section class="process">
            <h1>The Process</h1>
            <div class="guide">
                <p><strong>Step 1</strong> - <a href="/entry">Sign up to blackpines</a></p>
                <p><strong>Step 2</strong> - Connect up to 5 Twitter accounts</p>
                <p><strong>Step 3</strong> - Interact with tweets & users using your different accounts</p>
            </div>
            <div class="card">
                <a href="https://twitter.com/" target="_blank" rel="noreferrer" class="twitter-card" title="Visit Twitter">
                    <img src="../../assets/twitter-logo-white.WebP" height="100" width="100" alt="Twitter logo" />
                    <p>Twitter</p>
                </a>
            </div>
        </section>
        <section class="join-container">
            <p>Manage your Twitter presence, for free</p>
            <a href="/entry" class="join">Get Started</a>
        </section>
    </main>
</div>