@import '../../variables';

.forgot-password {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $secondary;
    overflow: hidden;
    height: 100vh !important;

    .container {
        width: 350px;
        height: auto;
        margin: auto;
        margin-top: 20vh;
        border: none;
        border-radius: 30px;
        padding: 20px;
        background-color: $primary;

        p {
            width: 100%;
            font-size: 14px;
            color: $secondary;
            margin-bottom: 30px;
        }

        input {
            width: calc(97.14% - 1px);
            font-size: 90%;
            margin-bottom: 20px;
            padding: 2.86%;
            padding-right: 0px;
            border: solid 1px darkgrey;
            border-radius: 7px;
        }

        button {
            width: 150px;
            font-size: 12px;
            padding: 10px;
            float: none;
        }

        .loading-container {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: grid;
            place-items: center;
        }

        .message {
            width: calc(100% - 22px);
            height: auto;
            margin-top: 20px;
            padding: 10px;
            background-color: $accent;
            background-image: $bg-grad;
            border-radius: 20px;
            
            p {
                color: $primary;
                margin-bottom: 0px;
            }
        }
        
        .message-error {
            background-color: $close;
            background-image: linear-gradient(45deg, $close, $close-hover);
        }
    }
}

// styles for larger screens (w: 1921 <=)

@media(min-width: 1921px) {

    .forgot-password {
        background-image: url("../../assets/pine-forest-large.png");
    }

    .title {
        font-size: 2.5vw;
    }

}

// styles for standard desktop monitors (w: 1920 >=)

@media(max-width: 1920px) {

    .forgot-password {
        background-image: url("../../assets/pine-forest-med.png");
    }

}

// styles for tablets (w: 1024 >=)

@media(max-width: 1024px) {

    .forgot-password {
        background-image: url("../../assets/pine-forest-small.png");
    }

    .title {
        font-size: 8vw;
    }

    .container {
        width: 50%;
    }

}      

// styles for phones (w: 720 >=)

@media(max-width: 720px) {

    .title {
        font-size: 15vw;
    }

    .container {
        width: 70%;
    }

    button, input {
        font-size: 14px;
    }
}