<div class="forgot-password">
    <h1 class="title">Blackpines.</h1>
    <div class="container">
        <p>Enter the email associated with your Blackpines account to reset your password.</p>
        <input type="email" placeholder="Email" (keydown)="setEmail($event)" />
        <button class="submit" (click)="resetPassword()">Send reset password link</button>
        <div *ngIf="loading" class="loading-container">
            <app-loading></app-loading>
        </div>
        <div *ngIf="message.show" class="message" [ngClass]="{'message-error' : !message.success}">
            <p>{{ message.text }}</p>
        </div>
    </div>
</div>