$primary: #fff;
$off-primary: #f0f0f0;
$secondary: #232323;
$accent: #009a7f;
$hover: #007a63;
$disabled: #4bbba6;
$bg-grad: linear-gradient(45deg, $accent, $hover);;
$clear-disabled: #a3a3a3;
$twitter: #1ba1f2;

$close: #d60000;
$close-hover: #b70000;
$close-disabled: #d63333;