@import '../../_variables';

main {
    background-color: $off-primary;
    flex-basis: 100%;
}

.search-bar {
    display: flex;
    padding: 0px 20%;
    margin: auto;
    width: 50%;

    input {
        flex-basis: 85%;
        min-width: 10px;
        padding: 10px;
        border: solid 1px lightgrey;
        border-right: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    select {
        border: solid 1px lightgrey;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 10px;
        margin-right: 5%;
        cursor: pointer;
    }

    button {
        flex-basis: 15%;
        min-width: 90px;
        padding: 10px 0px;
    }

    input:focus ~ select {
        border-color: $accent;
    }
}

section {
    width: 75%;
    height: calc(100% - 58px);
    margin: auto;
    margin-top: 20px;

    .results-overflow {
        height: calc(100% - 37px);
        overflow: auto;
        padding-right: 10px;
        
        .results {
            width: calc(100% - 22px);
            height: auto;
            padding: 10px;
            background-color: $primary;
            border: solid 1px lightgrey;
            border-radius: 5px;
            margin: auto;
            margin-bottom: 20px;
            cursor: pointer;

            img {
                border-radius: 100%;
                display: inline-block;
                margin-right: 10px;
            }

            .profile-headers {
                display: inline-block;
                vertical-align: top;
                padding-top: 5px;
                
                p, img {
                    display: inline-block;
                    width: auto;
                }

                img {
                    margin-left: 10px;
                    vertical-align: bottom;
                }

                p:nth-of-type(2) {
                    display: block;
                    font-size: 14px;
                    color: grey
                }
            }

            .text {
                color: $secondary;
                margin: 10px 0px;
            }

            // used for users & not posts

            .followers {
                color: $secondary;

                p {
                    font-size: 13px;
                    color: grey;
                    display: inline-block;
                    margin-right: 20px;

                    span {
                        font-size: 16px;
                        color: $secondary;
                    }
                }

                .following {
                    background-color: $off-primary;
                    border: solid 1px lightgrey;
                    border-radius: 3px;
                    padding: 1px 3px;
                }
            }

            // used for posts rather & not users

            .time {
                font-size: 14px;
                color: grey;
            }

        }

        .results:last-of-type {
            margin-bottom: 0px;
        }

        .no-results {
            margin-top: 10px;
        }
    }

    .results-box:last-of-type {
        margin-right: 0px;
    }

    .results-box {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .results-box:last-of-type {
       margin-bottom: 0px;
    }
}

@media(max-width: 1024px) {
    .submit {
        flex-basis: 20% !important;
        font-size: 14px;
    }
}

@media(max-width: 800px) {
    .search-bar, section {
        width: 100%;
        padding: 0px;
    }

    .search {
        flex-basis: calc(85% - 90px);
    }
}