<app-header [search]="true"></app-header>
<div class="main-content">
    <main [ngClass]="{'main-border' : expand}">
        <form action="/search" method="GET" class="search-bar" (submit)="submitForm($event)">
            <input placeholder="Search" name="search" class="search" (change)="setSearchQuery($event)" />
            <select *ngIf="search" (change)="toggleSearch()">
                <option>Users</option>
                <option>Tweets</option>
            </select>
            <button type="submit" class="submit">Search</button>
        </form>
        <section [ngClass]="{'section-preview' : expand}">
            <app-platform-headers></app-platform-headers>
            <div class="results-overflow">
                <!-- user results -->
                <ng-container *ngIf='searchType == "Users"; else twitterElse'>
                    <div *ngFor="let user of users.results" class="results" (click)="showTwitterAccount(user)">
                        <img width="50" height="50" src="{{ user.profile_image_url }}" />
                        <div class="profile-headers">
                            <p>{{ user.name }}</p>
                            <img *ngIf="user.verified" width="20" height="20" src="../../assets/verified.png" />
                            <p>@{{ user.screen_name }}</p>
                        </div>
                        <p class="text">{{ user.description }}</p>
                        <div class="followers">
                            <p><span>{{ user.friends_count }}</span> Following</p>
                            <p><span>{{ user.followers_count }}</span> Followers</p>
                            <p *ngIf="user.following" class="following">Following</p>
                        </div>
                    </div>
                </ng-container>
                
                <!-- tweet results -->
                <ng-template #twitterElse>
                    <app-feed-posts *ngFor="let post of tweets.results" [post]="post" [search]="true" [user]="user" (showPost)="showPost($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)"></app-feed-posts>
                </ng-template>

                <div *ngIf="loadingSearch; else showMessages" class="loading-container">
                    <app-loading></app-loading>
                </div>
                <!-- search messages -->
                <ng-template #showMessages>
                    <!-- no results found -->
                    <p *ngIf="searchType === 'Tweets' && tweets.results.length < 1 && !firstSearch && !failedSearch" class="no-results">No Tweets Found.</p>
                    <p *ngIf="searchType === 'Users' && users.results.length < 1 && !firstSearch && !failedSearch" class="no-results">No Users Found.</p>
                    <a *ngIf="!twitter.connected" href="/my-account">Please connect a Twitter account from the my-account page to use the search Twitter function</a><!-- no twitter account connected -->
                    <p *ngIf="firstSearch && twitter.connected" class="no-results">Search for tweets or users.</p> <!-- default message -->
                    <p *ngIf="failedSearch" class="no-results error">Something went wrong please try again later.</p> <!-- error message -->
                </ng-template>
            </div>
        </section>
    </main>
    
    <!-- post & account previews -->
    <div class="content-previews" *ngIf="expand">
        <app-loading *ngIf="loadingResult"></app-loading>
        <app-twitter-account *ngIf="twitterAccount !== false" [account]="twitterAccount" [userIds]="user.twitter" (closePreview)="close()" (showTweet)="showPost($event)"></app-twitter-account>
        <app-twitter-post *ngIf="tweet !== false" [tweet]="tweet" [accounts]="user.twitter" (close)="close()" (updateTweet)="showPost($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)" ></app-twitter-post>
    </div>
</div>
<app-error *ngIf="twitterTweetsError !== false" [error]="twitterTweetsError" (closeError)="close()" ></app-error>