main {
  background-color: #f0f0f0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-border {
  -webkit-animation: border 0.5s;
          animation: border 0.5s;
  border-right: solid 1px #009a7f;
}

@-webkit-keyframes border {
  from {
    border-right: solid 1px rgba(0, 154, 127, 0);
  }
  to {
    border-right: solid 1px #009a7f;
  }
}

@keyframes border {
  from {
    border-right: solid 1px rgba(0, 154, 127, 0);
  }
  to {
    border-right: solid 1px #009a7f;
  }
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20%;
  margin: auto;
  width: 50%;
}

.search-bar input {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  min-width: 10px;
  padding: 10px;
  border: solid 1px lightgrey;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar select {
  border: solid 1px lightgrey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
  margin-right: 5%;
  cursor: pointer;
}

.search-bar button {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  min-width: 90px;
  padding: 10px 0px;
}

.search-bar input:focus ~ select {
  border-color: #009a7f;
}

section {
  width: 60%;
  height: calc(100% - 58px);
  margin: auto;
  margin-top: 20px;
}

section .results-overflow {
  height: calc(100% - 37px);
  overflow: auto;
  padding-right: 10px;
}

section .results-overflow .results {
  width: calc(100% - 22px);
  height: auto;
  padding: 10px;
  background-color: #fff;
  border: solid 1px lightgrey;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

section .results-overflow .results img {
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
}

section .results-overflow .results .profile-headers {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

section .results-overflow .results .profile-headers p, section .results-overflow .results .profile-headers img {
  display: inline-block;
  width: auto;
}

section .results-overflow .results .profile-headers img {
  margin-left: 10px;
  vertical-align: bottom;
}

section .results-overflow .results .profile-headers p:nth-of-type(2) {
  display: block;
  font-size: 14px;
  color: grey;
}

section .results-overflow .results .text {
  color: #232323;
  margin: 10px 0px;
}

section .results-overflow .results .followers {
  color: #232323;
}

section .results-overflow .results .followers p {
  font-size: 13px;
  color: grey;
  display: inline-block;
  margin-right: 20px;
}

section .results-overflow .results .followers p span {
  font-size: 16px;
  color: #232323;
}

section .results-overflow .results .followers .following {
  background-color: #009a7f;
  border: solid 1px #007a63;
  border-radius: 3px;
  padding: 1px 3px;
  color: #fff;
}

section .results-overflow .results .time {
  font-size: 14px;
  color: grey;
}

section .results-overflow .results:last-of-type {
  margin-bottom: 0px;
}

section .results-overflow .results:hover {
  background-color: #f7f7f7;
}

section .results-overflow .no-results {
  margin-top: 10px;
}

section .results-overflow .loading-container {
  width: 100%;
  height: 200px;
}

section .results-box:last-of-type {
  margin-right: 0px;
}

section .results-box {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

section .results-box:last-of-type {
  margin-bottom: 0px;
}

.section-preview {
  -webkit-animation: sectionPreview 0.5s;
          animation: sectionPreview 0.5s;
  width: 90%;
}

@-webkit-keyframes sectionPreview {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}

@keyframes sectionPreview {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}

.content-previews {
  height: calc(100vh - 70px);
  background-color: #f0f0f0;
  padding: 0%;
  -webkit-animation: contentPreview 0.5s;
          animation: contentPreview 0.5s;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@-webkit-keyframes contentPreview {
  from {
    flex-basis: 0%;
  }
  to {
    flex-basis: 40%;
  }
}

@keyframes contentPreview {
  from {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  to {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 1024px) {
  .submit {
    -ms-flex-preferred-size: 20% !important;
        flex-basis: 20% !important;
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .section-preview, .content-previews {
    -webkit-animation: none;
            animation: none;
  }
  .section-preview {
    width: 60%;
  }
  .content-previews {
    position: absolute;
  }
  .main-border {
    -webkit-animation: none;
            animation: none;
    border-right: none;
  }
}

@media (max-width: 800px) {
  .search-bar, section, .section-preview {
    width: 100%;
    padding: 0px;
  }
  .search {
    -ms-flex-preferred-size: calc(85% - 90px);
        flex-basis: calc(85% - 90px);
  }
}
/*# sourceMappingURL=search.component.css.map */