@import '../../_variables';

main {
    background-color: $off-primary;
    flex-basis: 100%;
}

.search-bar {
    display: flex;
    padding: 0px 20%;
    margin: auto;
    width: 50%;

    input {
        flex-basis: 85%;
        padding: 10px;
        border: solid 1px lightgrey;
        border-right: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    select {
        border: solid 1px lightgrey;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 10px;
        margin-right: 5%;
        cursor: pointer;
    }

    button {
        flex-basis: 15%;
        padding: 10px 0px;
    }
}

section {
    width: 75%;
    height: calc(100% - 58px);
    margin: auto;
    margin-top: 20px;

    .results-overflow {
        height: calc(100% - 37px);
        overflow: auto;
        padding-right: 10px;
        
        .results {
            width: calc(100% - 22px);
            height: auto;
            padding: 10px;
            background-color: $primary;
            border: solid 1px lightgrey;
            border-radius: 5px;
            margin: auto;
            margin-bottom: 20px;
        }

        .results:last-of-type {
            margin-bottom: 0px;
        }
    }

    .results-box:last-of-type {
        margin-right: 0px;
    }

    .results-box {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .results-box:last-of-type {
       margin-bottom: 0px;
    }
}