<app-header [search]="true"></app-header>
<div class="main-content">
    <main>
        <form action="/search" method="GET" class="search-bar" (submit)="submitForm($event)">
            <input placeholder="Search" name="search" class="search" />
            <select *ngIf="search" (change)="toggleSearch()">
                <option>Users</option>
                <option>Posts</option>
            </select>
            <button type="submit" class="submit">Search</button>
        </form>
        <section>
            <app-platform-headers platform="twitter"></app-platform-headers>
            <div class="results-overflow">
                <ng-container *ngIf='searchType == "Users"; else twitterElse'>
                    <div *ngFor="let user of twitterResults" class="results">
                        <img width="50" height="50" src="{{ user.profile_image_url }}" />
                        <p>{{ user.name }}</p>
                        <p>@{{ user.screen_name }}</p>
                        <br />
                        <p>{{ user.description }}</p>
                        <br />
                        <p>Following: {{ user.friends_count }}</p>
                        <p>Followers: {{ user.followers_count }}</p>
                    </div>
                </ng-container>
                <ng-template #twitterElse>
                    <div *ngFor="let post of twitterResults" class="results">
                        <img width="50" height="50" src="{{ post.user.profile_image_url }}" />
                        <p>{{ post.user.name }}</p>
                        <p>@{{ post.user.screen_name }}</p>
                        <br />
                        <p>{{ post.text }}</p>
                        <p>Time: {{ post.created_at }}</p>
                    </div>
                </ng-template>
            </div>
        </section>
    </main>
</div>