<app-header [search]="true"></app-header>
<div class="main-content">
    <main>
        <form action="/search" method="GET" class="search-bar" (submit)="submitForm($event)">
            <input placeholder="Search" name="search" class="search" />
            <select *ngIf="search" (change)="toggleSearch()">
                <option>Users</option>
                <option>Posts</option>
            </select>
            <button type="submit" class="submit">Search</button>
        </form>
        <section>
            <app-platform-headers platform="twitter"></app-platform-headers>
            <div class="results-overflow">
                <!-- user results -->
                <ng-container *ngIf='searchType == "Users"; else twitterElse'>
                    <div *ngFor="let user of twitterResults" class="results" (click)="showTwitterAccount(user)">
                        <img width="50" height="50" src="{{ user.profile_image_url }}" />
                        <div class="profile-headers">
                            <p>{{ user.name }}</p>
                            <img *ngIf="user.verified" width="20" height="20" src="../../assets/verified.png" />
                            <p>@{{ user.screen_name }}</p>
                        </div>
                        <p class="text">{{ user.description }}</p>
                        <div class="followers">
                            <p><span>{{ user.friends_count }}</span> Following</p>
                            <p><span>{{ user.followers_count }}</span> Followers</p>
                            <p *ngIf="user.following" class="following">Following</p>
                        </div>
                    </div>
                </ng-container>
                
                <!-- tweet results -->
                <ng-template #twitterElse>
                    <app-feed-posts *ngFor="let post of twitterResults" [post]="post" [search]="true" [user]="user" (showPost)="showPost($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)"></app-feed-posts>
                </ng-template>

                <!-- search messages -->
                <ng-template *ngIf="!loading">
                    <p *ngIf="twitterResults.length < 1 && !firstSearch && !failedSearch" class="no-results">No Results Found.</p> <!-- no results found -->
                    <p *ngIf="firstSearch" class="no-results">Search for tweets or users.</p> <!-- default message -->
                    <p *ngIf="failedSearch" class="no-results error">Something went wrong please try again later.</p> <!-- error message -->
                </ng-template>
            </div>
        </section>
    </main>
</div>
<app-loading *ngIf="loading"></app-loading>

<!-- post & account previews -->
<app-twitter-account *ngIf="twitterAccount !== false" [account]="twitterAccount" (closePreview)="close()" (showTweet)="showPost($event)"></app-twitter-account>
<app-twitter-post *ngIf="tweet !== false" [tweet]="tweet" (close)="close()" (updateTweet)="showPost($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)" ></app-twitter-post>
<!--
<app-linkedin-account></app-linkedin-account>
<app-linkedin-post></app-linkedin-post>

<app-facebook-account></app-facebook-account>
<app-facebook-post></app-facebook-post>
-->