<app-header [feed]="true"></app-header>
<div class="main-content">
    <app-side-nav [feed]="true" [twitter]="twitter" [linkedin]="linkedin" [facebook]="facebook" (toggleFeedMethod)="toggleFeed($event)" (platformFeeds)="togglePlatforms($event)"></app-side-nav>
    <main>
        <div *ngIf="twitter.feed" class="feeds">
            <app-platform-headers platform="twitter"></app-platform-headers>
            <p *ngIf="twitterFeedError !== false" class="error">{{ twitterFeedError }}</p>
            <div *ngFor="let post of twitterFeed">
                <app-feed-posts [post]=post [search]="false" [user]="user" (showPost)="showTweet($event)"></app-feed-posts>
            </div>
        </div>

        <div *ngIf="linkedin.feed" class="feeds">
            <app-platform-headers platform="linkedin"></app-platform-headers>
            <div *ngFor="let post of linkedinFeed">
                <app-feed-posts [post]=post></app-feed-posts>
            </div>
        </div>

        <div *ngIf="facebook.feed" class="feeds">
            <app-platform-headers platform="facebook"></app-platform-headers>
            <div *ngFor="let post of facebookFeed">
                <app-feed-posts [post]=post [search]="false"></app-feed-posts>
            </div>
        </div>
    </main>
</div>

<!-- post & account previews -->
<!-- <app-twitter-account></app-twitter-account> -->
<app-twitter-post *ngIf="tweet !== false" [tweet]="tweet" (close)="close()" (updateTweet)="showTweet($event)" (showUser)="showTwitterAccount($event)"></app-twitter-post>
<!--
<app-linkedin-account></app-linkedin-account>
<app-linkedin-post></app-linkedin-post>
<app-facebook-account></app-facebook-account>
<app-facebook-post></app-facebook-post>
-->