<app-error *ngIf="error !== false" [error]="error" (closeError)="close()"></app-error>
<app-header [feed]="true"></app-header>
<div class="main-content main{{ twitAccounts}}" [ngClass]="{'noscroll' : expand}">
    <app-side-nav *ngIf="twitAccounts > 0" [users]="user.twitter" (activityFeed)="toggleFeed($event)" (viewUser)="showTwitterAccount($event)" ></app-side-nav>
    <main [ngClass]="{'main-preview' : expand}" class="main{{ twitAccounts}}">
        <!-- This will show if the user isn't connected to twitter -->
        <a href="/my-account" class="message" *ngIf="twitAccounts < 1; else showFeedContainer">Please connect at least one Twitter account from the My-Account page</a>
        <ng-template #showFeedContainer>
            <!-- loading circle -->
            <div class="loading-container" *ngIf="loadingFeed; else twitterFeed">
                <app-loading></app-loading>
            </div>
            <ng-template #twitterFeed>
                <div class="feeds max{{ twitAccounts }}" *ngFor="let feed of activeFeed"  [ngClass]="{'feeds-preview' : expand}">
                    <!-- user headers -->
                    <div class="user-headers" title="@{{ feed.user.screen_name }}'s Twitter feed">
                        <img src="{{ feed.user.profile_image_url }}" height="100%" width="auto" alt="@{{ feed.user.screen_name }}" />
                        <p>@{{ feed.user.screen_name }}</p>
                    </div>
                    <p *ngIf="feed.message" class="error">{{ feed.message }}</p> <!-- error message -->
                    <!-- feed -->
                    <div *ngFor="let post of feed.feed">
                        <app-feed-posts [post]=post [search]="false" [user]="user" (showPost)="showTweet($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)"></app-feed-posts>
                    </div>
                    <!-- if the user had an empty feed -->
                    <p class="no-results" *ngIf="feed.feed.length < 1 && feed.success">No Tweets to show!</p>
                </div>
            </ng-template>
        </ng-template>
    </main>
    <div class="content-previews" *ngIf="loading || twitterAccount !== false || tweet !== false">
        <div class="load-account-post" *ngIf="loading">
            <app-loading></app-loading> <!-- loading circle for loading posts and accounts-->
        </div>
    
        <!-- post & account previews -->
        <app-twitter-account *ngIf="twitterAccount !== false" [account]="twitterAccount" [userIds]="user.twitter" (closePreview)="close()" (showTweet)="showTweet($event)" (showUser)="showTwitterAccount($event)"></app-twitter-account>
        <app-twitter-post *ngIf="tweet !== false" [tweet]="tweet" [accounts]="user.twitter" (close)="close()" (updateTweet)="showTweet($event)" (showUser)="showTwitterAccount($event)" (fetchUserEvent)="fetchUser($event)" ></app-twitter-post>
    </div>
</div>