.main-content {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.noscroll {
  overflow: hidden;
}

.platform-icon, .twitter-header {
  width: calc(100% - 2px);
  height: auto;
  padding-left: 3px;
  background-color: #1ba1f2;
  padding-top: 3px;
}

.platform-icon {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.twitter-header {
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #1ba1f2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0f0f0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow-y: hidden;
}

main .message {
  color: #232323;
  font-size: 16px;
}

main .message:hover {
  color: #007a63;
}

.main-preview {
  -webkit-animation: mainPreview 0.5s;
          animation: mainPreview 0.5s;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  overflow-x: auto;
}

.main-preview::-webkit-scrollbar {
  height: 10px;
}

@-webkit-keyframes mainPreview {
  from {
    flex-basis: 100%;
  }
  to {
    flex-basis: 60%;
  }
}

@keyframes mainPreview {
  from {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  to {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.loading-container {
  width: 100%;
  height: 100%;
}

.feeds {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-width: calc(15vw - 15px);
  max-height: 100%;
  margin-left: 10px;
  padding-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.feeds .user-headers {
  width: calc(100% - 6px);
  height: 20px;
  margin-bottom: 10px !important;
  padding: 3px;
  border-radius: 5px;
  background-color: #009a7f;
  background-image: linear-gradient(45deg, #009a7f, #007a63);
}

.feeds .user-headers img {
  border-radius: 100%;
  display: inline-block;
  vertical-align: text-top;
}

.feeds .user-headers p {
  color: #fff;
  padding-left: 10px;
  display: inline-block;
  font-size: 14px;
}

.feeds::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

.feeds::-webkit-scrollbar-track {
  background-color: transparent;
}

.feeds div {
  margin-bottom: 20px;
}

.feeds div:last-of-type {
  margin-bottom: initial;
}

.feeds .no-results {
  margin-top: 10px;
  color: #232323;
  padding-bottom: 10px;
  border-bottom: 1px solid #009a7f;
  font-size: 14px;
}

.max1 {
  max-width: 1000px;
}

.max2 {
  max-width: calc(50% - 10px);
}

.max3 {
  max-width: calc(33.333% - 10px);
}

.max4 {
  max-width: calc(25% - 10px);
}

.max5 {
  max-width: 20%;
}

.feeds:first-of-type {
  margin-left: 0px;
}

.feeds:only-child {
  margin: auto;
}

.feeds-preview {
  -webkit-animation: feedsPreview 0.5s;
          animation: feedsPreview 0.5s;
  width: 90%;
}

@-webkit-keyframes feedsPreview {
  from {
    width: 75%;
  }
  to {
    width: 90%;
  }
}

@keyframes feedsPreview {
  from {
    width: 75%;
  }
  to {
    width: 90%;
  }
}

.load-account-post {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content-previews {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-animation: previewsExpand 0.5s;
          animation: previewsExpand 0.5s;
}

@-webkit-keyframes previewsExpand {
  from {
    flex-basis: 0%;
  }
  to {
    flex-basis: 40%;
  }
}

@keyframes previewsExpand {
  from {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  to {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 1200px) {
  .main5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .max5 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
  }
  .max5:first-of-type {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) {
  .main4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .max4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
  }
  .max4:first-of-type {
    margin-top: 0px;
  }
}

@media (max-width: 850px) {
  .main3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .max3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
  }
  .max3:first-of-type {
    margin-top: 0px;
  }
}

@media (max-width: 700px) {
  .main1, .main2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .noscroll {
    height: calc(100vh - 70px);
  }
  .main-content {
    display: block;
  }
  .main-preview, .feeds-preview {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .main-preview {
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
  .feeds-preview {
    width: 75% !important;
  }
  .load-account-post {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
  }
  .max1, .max2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
    margin: 0px;
    margin-top: 20px;
  }
  .max1:first-of-type, .max2:first-of-type {
    margin-top: 0px;
  }
  .max1 {
    padding: 0px;
  }
}

@media (max-width: 575px) {
  .feeds {
    width: 100%;
    min-width: 0px;
  }
  main {
    display: block !important;
  }
}
/*# sourceMappingURL=my-feed.component.css.map */