@import '../../variables';

.main-content {
    background-color: $off-primary;
    display: flex;
}

.noscroll {
    overflow: hidden;
}

.platform-icon, .twitter-header {
    width: calc(100% - 2px);
    height: auto;
    padding-left: 3px;
    background-color: $twitter;
    padding-top: 3px;
}

.platform-icon {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.twitter-header {
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: $twitter;
}

main {
    display: block;
    background-color: $off-primary;
    flex-basis: 100%;

    .message {
        color: $secondary;
        font-size: 16px;
    }
}

.main-preview {
    animation: mainPreview 0.5s;
    flex-basis: 60%;
}

@keyframes mainPreview {
    from {
        flex-basis: 100%;        
    }

    to {
        flex-basis: 60%;
    }
}

.feeds {
    width: 75%;
    min-width: 300px;
    margin: auto;

    .loading-container {
        height: 100%;
        margin-top: 150px;
    }
}

.feeds-preview {
    animation: feedsPreview 0.5s;
    width: 90%;
}

@keyframes feedsPreview {
    from {
        width: 75%;       
    }

    to {
        width: 90%;
    }
}

.load-account-post {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.content-previews {
    flex-basis: 40%;
    animation: previewsExpand 0.5s;
}

@keyframes previewsExpand {
    from {
        flex-basis: 0%;
    }
    to {
        flex-basis: 40%;
    }
}

@media(max-width: 1000px) {
    .feeds {
        width: 99% !important;
    }
}

@media(max-width: 950px) {

    .noscroll {
        height: calc(100vh - 70px);
    }

    .main-content {
        display: block;
    }

    .mainPreview, .feedsPreview {
        animation: none !important;
    }

    .mainPreview {
        flex-basis: 100% !important;
    }

    .feedsPreview {
        width: 75% !important;
    }

    .load-account-post {
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
    }
}

@media(max-width: 575px) {
    .feeds {
        width: 95% !important;
        min-width: 0px;
    }

    main {
        display: block !important;
        padding: 20px 0px;
    }
}