<app-header [account]="true"></app-header> <!-- header/nav -->
<div class="main-content"> <!-- main content -->
    <!-- side navigation bar - similar design to the component but different features -->
    <nav class="side-nav">
        <!-- user's first & last name -->
        <p class="info">{{ user.firstName }} {{ user.lastName }}</p>
        <p class="info">{{ user.username }}</p>
        <div class="break"></div>
        <!-- password reset form -->
        <p class="side-nav-buttons password-button" (click)="passwordField()">Change Password</p>
        <div class="password-form">
            <input type="password" name="oldPassword" class="old-password" placeholder="Old password" />
            <input type="password" name="newPassword" class="new-password" placeholder="New password" />
            <button class="side-nav-buttons" (click)="checkPasswords()">Update</button>
            <p class="message same-password"></p>
        </div>
        <!-- logout -->
        <form action="/logout" method="GET">
            <button type="submit" class="side-nav-buttons logout">Logout</button>
        </form>
        <div class="break"></div>
        <!-- connect to platforms -->
        <a *ngIf="!twitter; else multipleTwitterAccounts" href="/twitter" class="platform-links twitter">Connect With Twitter</a>
        <ng-template #multipleTwitterAccounts>
            <a href="/twitter" class="platform-links twitter">Connect Another Twitter Account</a>
        </ng-template>
    </nav>
    <main>
        <!-- placeholder container for account's that are not connected -->
        <div *ngIf="!twitter; else elseTwitter" class="platform-sections">
            <img src="../../assets/twitter-logo.png" class="platform-logos" width="100" height="100" alt="Twitter" title="Twitter" />
        </div>
        <!-- account info container -->
        <ng-template #elseTwitter>
            <div class="platform-sections-connected-container" *ngFor="let account of user.twitter">
                <app-account-profile *ngIf="user !== {}" [account]="account" (disconnectMethod)="disconnect($event)" [error]="twitterError" ></app-account-profile>
            </div>
        </ng-template>
    </main>
</div>
<app-error *ngIf="error" [error]="errorMessage"></app-error>