.side-nav {
  -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
  padding: 20px 0px !important;
  background-color: #fff;
}

.side-nav p {
  font-size: 17px;
  margin-bottom: 15px;
}

.side-nav .info {
  color: #009a7f;
  font-weight: 600;
  padding: 0px 20px;
}

.side-nav .info:nth-of-type(2) {
  word-break: break-all;
  font-size: 14px;
  font-weight: 400;
}

.side-nav .break {
  display: block;
  width: 90%;
  margin: 0px auto;
  height: 1px;
  border-bottom: solid 1px lightgrey;
}

.side-nav .side-nav-buttons {
  width: calc(100% - 60px);
  height: auto;
  padding: 10px;
  margin: 15px 20px;
  background-color: #009a7f;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  text-align: center;
  -webkit-box-shadow: #dbdbdb 2px 2px 7px;
          box-shadow: #dbdbdb 2px 2px 7px;
  cursor: pointer;
}

.side-nav .side-nav-buttons:hover {
  background-color: #007a63;
}

.side-nav .logout {
  margin-top: 0px;
  width: calc(100% - 40px);
}

.side-nav .password-form {
  height: 0px;
  overflow: hidden;
  margin-bottom: 0px;
}

.side-nav .password-form input, .side-nav .password-form button {
  display: block;
}

.side-nav .password-form button {
  width: calc(100% - 40px);
  margin-bottom: 0px;
}

.side-nav .password-form input {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px darkgrey;
  padding: 5px;
  border-radius: 7px;
  width: calc(100% - 52px);
  margin: 0px 20px;
}

.side-nav .password-form input:nth-of-type(2) {
  margin: 15px 20px;
}

.side-nav .message {
  padding: 5px 20px 0px 20px;
  font-size: 15px;
  word-wrap: normal !important;
  max-width: 200px;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.side-nav .expandForm {
  height: 170px;
  -webkit-animation: expandForm 0.5s;
          animation: expandForm 0.5s;
}

.side-nav .shrinkForm {
  -webkit-animation: shrinkForm 0.5s;
          animation: shrinkForm 0.5s;
  height: 0px;
}

@-webkit-keyframes expandForm {
  from {
    height: 0px;
  }
  to {
    height: 170px;
  }
}

@keyframes expandForm {
  from {
    height: 0px;
  }
  to {
    height: 170px;
  }
}

@-webkit-keyframes shrinkForm {
  from {
    height: 170px;
  }
  to {
    height: 0px;
  }
}

@keyframes shrinkForm {
  from {
    height: 170px;
  }
  to {
    height: 0px;
  }
}

.side-nav .connect-twitter, .side-nav .connect-twitter:visited {
  width: calc(100% - 60px);
  height: auto;
  display: block;
  background-color: #009a7f;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0px 20px;
  margin-top: 15px !important;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  -webkit-box-shadow: #dbdbdb 2px 2px 7px;
          box-shadow: #dbdbdb 2px 2px 7px;
  cursor: pointer;
}

.side-nav .connect-twitter:hover {
  background-color: #1ba1f2;
}

.side-nav .ct-disabled {
  font-size: 13px;
  background-color: #4bbba6;
  cursor: auto;
}

.side-nav .ct-disabled:hover {
  background-color: #4bbba6;
}

main {
  width: 600px;
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

input:focus {
  border-color: #009a7f !important;
}

input:invalid {
  border: solid 1px lightgrey;
  border-width: 1px 0px;
}

.platform-sections, .platform-sections-connected-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 450px;
  height: calc(100% - 4px);
  margin: 0px 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.platform-sections:first-of-type, .platform-sections-connected-container:first-of-type {
  margin-left: auto;
}

.platform-sections:last-of-type, .platform-sections-connected-container:last-of-type {
  margin-right: auto;
  margin-bottom: 0px;
}

.platform-sections {
  max-height: 650px;
  background-color: #ccc;
  border: dashed 2px grey;
  border-radius: 30px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.platform-sections .platform-logos {
  background-color: grey;
}

.platform-sections .errors {
  display: block;
  color: red;
}

.platform-sections-connected-container .cards {
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff;
  border: solid 2px #009a7f;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  display: none;
  cursor: pointer;
}

.platform-sections-connected-container .cards:hover {
  background-color: #f0f0f0;
}

.platform-sections-connected-container .default-background {
  width: auto;
  height: auto;
  background-color: #009a7f;
  background-image: linear-gradient(45deg, #009a7f, #007a63);
}

.platform-sections-connected-container .default-background img {
  opacity: 0;
}

.platform-sections-connected-container .profile-pic-container {
  position: relative;
  height: 50px;
}

.platform-sections-connected-container .profile-pic-container .profile-pic {
  border: solid 4px #fff;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: -40px;
  background-color: #fff;
}

.platform-sections-connected-container .name, .platform-sections-connected-container .handle {
  margin: 0px 10px;
  color: #232323;
  font-size: 17px;
}

.platform-sections-connected-container .name {
  font-weight: 600;
}

.platform-sections-connected-container .handle {
  font-weight: 400;
}

.platform-sections-connected-container .verified {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.disconnect {
  position: relative;
  -webkit-animation: disconnect 0.5s;
          animation: disconnect 0.5s;
  bottom: -120%;
}

@-webkit-keyframes disconnect {
  from {
    bottom: 0%;
  }
  to {
    bottom: -120%;
  }
}

@keyframes disconnect {
  from {
    bottom: 0%;
  }
  to {
    bottom: -120%;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: 115px;
  }
}

@keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: 115px;
  }
}

@-webkit-keyframes shrink {
  from {
    height: 115px;
  }
  to {
    height: 0px;
  }
}

@keyframes shrink {
  from {
    height: 115px;
  }
  to {
    height: 0px;
  }
}

.error-field {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

@media (max-width: 1414px) {
  .card5 {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  .main4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container4 {
    height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 5px);
            flex: 0 1 calc(50% - 5px);
    margin: 0px;
  }
  .container4:nth-of-type(odd) {
    margin-right: 5px;
  }
  .container4:nth-of-type(even) {
    margin-left: 5px;
  }
  .card4 {
    display: block !important;
  }
}

@media (max-width: 1000px) {
  .main3 {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .platform-sections-connected-container:first-of-type, .platform-sections-connected-container:last-of-type {
    margin: 0px;
  }
  .container3 {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .card3 {
    display: block !important;
  }
}
/*# sourceMappingURL=my-account.component.css.map */